[2017-01-06 11:55] paphko opened #4 "Support for openhab 1.x"
The current implementation only supports items with tags which are not available in OH1. I would suggest the following additional configuration for making items visible to the skill: dedicated groups. Groups are available in OH1 and OH2, so this solution should be independent of the server version.

A preconfigured group could be 'gAlexa' or simply 'Alexa'. When this group is configured in config.

[2017-01-06 13:14] paphko commented on #4
I mixed up REST API of OH1 and OH2 - it seems as if the REST API of OH1 does not provide information which items are contained in a group :-(

[2017-01-13 19:38] paphko commented on #4
In case someone wants to try it out, too: https://github.com/paphko/openhab-alexa/tree/oh1_oh2_groups

I'll test this a few days and if it's stable, I'll create a PR.

[2017-01-19 12:58] tex4ever opened #7 "Skill vs Hue Emulation"
Hi, I have one question: What advantages does an Alexa skill have against the openHAB Hue Emulation? Using Hue Emulation makes it possible to use HomeKit-Tags too. Thank you for your advise.

[2017-01-19 13:00] kaikreuzer commented on #7
Please use the forum at https://community.openhab.org/ for general questions, not the issue tracker - thanks!

[2017-01-19 13:00] #7 closed

[2017-01-20 11:56] paphko commented on #4
Although this solution works, it has the drawback that the (technical) item names must be used as device names for voice recognition because the OH1 REST API does not provide a label for items. So if you want to use this Skill, you should set proper item names.

I think a PR is not needed because OH2 should replace OH1 quite soon.

[2017-01-22 17:06] htreu commented on #4
A solution for OH1 might be to load the items from a special sitemap. This way you can provide separate item labels for voice control. The [OpenHAB-Homekit-Bridge](https://github.com/htreu/OpenHAB-HomeKit-Bridge) is implemented this way.

[2017-01-24 20:06] paphko commented on #4
You're right, a sitemap would have been a more elegant solution :-)
However, since OH2 is officially released now, I'll rather concentrate any further work on that release.

[2017-01-26 09:53] mtzro2003 opened #9 "Installation instructions"
HI!

I'd love to try this, but I'm having trouble going through the installation instructions.Could you please elaborate a little?
For example, first step is:

"npm install WHAT"?
Sorry, but this "mode" thing is pretty new to me...
Thanks!

[2017-01-28 00:06] digitaldan commented on #9
Hi,  node package manager (npm) is the standard way of installing node packages.  This is needed if you plan on using the deploy tool mentioned in the readme.  Its a bit outside the scope of that doc to explain how node works (big topic).  Not sure if you have posted yet to community.openhab.org , but that would be a better place to ask these types of questions as you will get way more visibility.

[2017-01-28 00:06] #9 closed

[2017-02-03 15:00] tracstarr opened #10 "node-lambda deploy fails due to quotes in .env"
The following causes _node-lambda deploy_ to fail. remove the quotes and it works.
EXCLUDE_GLOBS="event.json"

[2017-02-04 09:46] querdenker2k opened #11 "No Devices detected"
Hi there,

I installed everything and added 2 Homekit tags to my openhab installation, but alexa does not find any devices. What is going wrong. Can i somewhere look in some logfiles to check out whats going wrong?
please help.

[2017-02-20 07:45] xibriz opened #12 "Trouble with sensors"
Hi.

I'm having trouble to discover sensors. Can you see whats wrong in the response from OpenHAB when i run "Discover Devices" from Alexa?

`{ "link": "https://MYHOST/rest/items/tellstick_sensor_79aa59da_4433381_temperature", "state": "-3.8", "stateDescription": { "pattern": "%f °C", "readOnly": true, "options": [] }, "type": "Number", "name": "tellstick_sensor_79aa59da_4433381_temperature", "lab

[2017-02-20 19:32] digitaldan commented on #12
Are you running the Alexa app your self?  Also what are you trying to do with a sensor and Alexa?

[2017-02-20 19:34] digitaldan commented on #11
You can check the log files in Amazon Cloud watch, also I would need to know more about how you setup your instance, are you using amazon login for SSO?  I'm assuming you are attempting to connect directly to you OH instance from the lambda skill?

[2017-02-20 19:35] xibriz commented on #12
I'm trying to get alexa to read me the value.

I have studied the code and I see that this function is not implemented.

[2017-02-20 19:38] xibriz commented on #12
And yes, self hosted alexa app on AWS and openhab at home.

[2017-02-20 20:16] digitaldan commented on #12
If its all self hosted then I don't see how I can help here?  Also this is a SmartHome skill, which is different then a generic Alexa skill, you can't have it read off values.

[2017-02-21 09:04] xibriz commented on #12
What about the GetTemperatureReadingRequest

[2017-02-21 16:13] digitaldan commented on #12
That is for the thermostat functionality, you can't ask for it specifically,  but when you set a temp, it validates the setting back.  I would read the alexa SmartHome docs to see what's possible. If there are other features we should definitely add them.

[2017-02-21 21:04] digitaldan commented on #12
I'm going to close this issue as I do not think there is a problem with the alexa app here.

[2017-02-21 21:04] #12 closed

[2017-02-22 01:00] digitaldan opened #13 "Add Color to accepted item types"
see https://community.openhab.org/t/official-alexa-smart-home-skill-for-openhab-2/23533/15

[2017-02-22 03:45] digitaldan opened #14 "support GetTemperatureReadingResponse and GetTargetTemperatureRequest"
The smart home api has added the ability to query the current temp and desired temp

[2017-02-22 04:32] digitaldan commented on #4
I am closing as OH2 is now GA and we don't have an elegant way to support OH1

[2017-02-22 04:32] #4 closed

[2017-02-25 00:02] Chrunchy opened #15 "What route is the skill using from start to end?"
Is it possible to have explained how the communcation goes after the command is initiated by voice to Alexa?

How i see it, it's from Alexa device -> Skill -> AWS Lambda -> OpenHab2.
How does the Lambda service communicate with OpenHab2 in this way, if port 443 is not forwarded to the server hosting OpenHab2?

The only way i see that possible would be by Alexa Device -> Skill -> AWS Lambda -> Alex

[2017-02-25 00:06] cole701 commented on #15
If I am following this topic correctly, then myopenHAB is in there and the interface into openHAB...Sent from Xfinity Connect Mobile App------ Original Message ------From: ChrunchyTo: openhab/openhab-alexaCc: SubscribedSent: February 24, 2017 at 6:02 PMSubject: [openhab/openhab-alexa] What route is the skill using from start to end? (#15)Is it possible to have explained how the communcation goes a

[2017-02-25 00:15] Chrunchy commented on #15
That makes sense. So My.openhab has a pipe in to the hosted openhab service running on a raspberry or similar.

So the traffic would somehow go: Alexa -> Skill -> AWS -> My.openhab (using OAuth) -> local OpenHab?

[2017-02-25 00:22] cole701 commented on #15
I'm no expert yet but yes, the way I read it that is the expected communication flow...Sent from Xfinity Connect Mobile App------ Original Message ------From: ChrunchyTo: openhab/openhab-alexaCc: Rich Cole, CommentSent: February 24, 2017 at 6:15 PMSubject: Re: [openhab/openhab-alexa] What route is the skill using from start to end? (#15)That makes sense. So My.openhab has a pipe in to the hosted o

[2017-03-23 10:31] codefalk opened #18 "number items of e.g. TargetTemperature are wrong"
When setting command of e.g. "set numberitem to 4", the skill responds with numberitem=3.
There is the same issue with the hue emulation. The (hue emulation)-issue has been described [here ](https://homematic-forum.de/forum/viewtopic.php?f=64&t=33601&start=110#p336721)as well.

Even though there is a workaround by just adding 1 to the value with a rule, problem with this issue is that there is no

[2017-03-24 13:16] digitaldan commented on #15
If you are using our published version of this then the flow is Echo/Dot -> Alexa API -> This Skill (Lambda) -> myopenhab.org -> OH.   If you are so inclined the skill may also be deployed on your own and pointed directly to your OH instance, but this is not a trivial setup.

[2017-03-24 13:16] #15 closed

[2017-03-24 13:17] digitaldan commented on #11
@querdenker2k is this still the case or can I close this?

[2017-03-24 13:45] querdenker2k commented on #11
I am not using it anymore. So it can be closed.

[2017-03-24 13:45] #11 closed

[2017-04-08 20:54] digitaldan opened #21 "Support Locks"
Changes to Smart Home Skill API Reference - February 28, 2017
New directives added for querying for for lock status and setting lock status.
GetLockStateRequest
GetLockStateResponse
SetLockStateRequest
SetLockStateConfirmation
New error messages specific to lock error conditions.
UnableToGetValueError
UnableToSetValueError

[2017-04-08 20:55] digitaldan opened #22 "Support Color Lights"
Changes to Smart Home Skill API Reference - April 7, 2017

New directives added to control the color and tunable white light settings of devices
SetColorRequest
SetColorConfirmation
SetColorTemperatureRequest
SetColorTemperatureConfirmation
IncrementColorTemperatureRequest
IncrementColorTemperatureConfirmation
DecrementColorTemperatureRequest
DecrementColorTemperatureConfirmation
New value added t

[2017-04-08 20:55] digitaldan commented on #14
Changes to Smart Home Skill API Reference - February 17, 2017
New directives added for querying for temperatures. See:
GetTemperatureReadingRequest
GetTemperatureReadingResponse
GetTargetTemperatureRequest
GetTargetTemperatureResponse

[2017-04-13 02:19] gk4 opened #23 "As a user, I would like Alexa to discover my Jasco 12718 controlled by OH2."
GE (Jasco) 12718 PlugIn Smart Dimmer is fully functional in OH2, but is not detected by the Alexa discover device scan.  Alexa can find my Smartthings  devices, but not my OH2 devices.

http://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devices

Please let me know where I might find more info/logs to share regarding this issue.

[2017-04-13 21:04] digitaldan commented on #23
Our Alexa app uses the oh rest API, so it has no knowledge nor cares what type of device it is, have you tagged these items appropriately ?

[2017-04-13 23:18] gk4 commented on #23
@digitaldan I'm not clear on the tagging for Alexa.  In OH2 I see Label, Category, and Type, but if I change any of those then the device is not useable in OH2 Control.  I've seen your online references to the homekit add-on, but I'm not sure that is correct or what that info means.  Am I to install the misc-homekit-2.0.0 under Misc?   Is that where I am to tag?

http://docs.openhab.org/addons/io/

[2017-04-14 02:11] gk4 commented on #23
@digitaldan I'm not clear on the tagging for Alexa.  In OH2 I see Label, Category, and Type, but if I change any of those then the device is not useable in OH2 Control.  I've seen your online references to the homekit add-on, but I'm still unclear about it.

http://docs.openhab.org/addons/io/homekit/readme.html

1) OH2/paperui -> Add-ons -> Misc -> HomeKit Integration -> Install

2) OH2/paperui ->

[2017-04-14 12:52] digitaldan commented on #23
Please see https://community.openhab.org/t/official-alexa-smart-home-skill-for-openhab-2/23533 Alexa skills are installed through their Alexa app (mobile or web), you also need to have myopenhab.org connected to your system (Amazon skills need a central point for authentication).

[2017-04-14 15:17] gk4 commented on #23
@digitaldan  Yes, I have had the OpenHab skill installed in my Alexa app.

Back to the tagging.   Where is that done?  Where do I find that list (KitchenLights, BedroomLights, ...) like I see in the instruction pages?

<img width="455" alt="screen shot 2017-04-14 at 10 13 09 am" src="https://cloud.githubusercontent.com/assets/13398918/25047230/199a5f06-20fb-11e7-82f4-5c711c1bef1d.png">

[2017-04-14 19:27] digitaldan commented on #23
I understand now, sorry for the confusion ,  I do not believe we have a tag editor in the paperui , the examples are for items defined in item files , I believe you are using items created thorough the web GUI ( or auto generated ) .  The only way I know to archive this is using the rest API , which can be accessed through your browser at /docs/index.html , there is a item call to add tags. I'm ty

[2017-04-14 20:41] gk4 commented on #23
I get a 404 at my http://192.168.1.125:8080/docs/index.html

[2017-04-15 01:04] gk4 commented on #23
I finally got it.  http://192.168.1.125:8080/doc/index.html

I'm getting a 405 response with the following.

![screen shot 2017-04-14 at 7 55 11 pm](https://cloud.githubusercontent.com/assets/13398918/25059447/93c69870-214c-11e7-9551-b7390e2903fb.png)

The name ZWaveNode212718SmartDimmer_Dimmer is not going to be Alexa friendly.   How do I change it to the name I had given it in OH2?

![screen sho

[2017-04-16 08:01] dominicdesu commented on #13
@digitaldan should this already work?
Color items which are tagged with "Lighting" are not available in the alexa openHAB skill, even though they have been available when using the hue emulation?

[2017-04-20 09:32] ami2009 commented on #18
I try to control KNX-scenes with this and have the same issue/bug.

I cannot distinguish between "0"/"OFF" and "1" since all values between 1 and 99 are subtracted by 1, but the values values 0/OFF and 100/ON are correct.

Example:

ITEM:
Number szeneWohnzimmer  "Wohnzimmerlicht" <light> [" Lighting "]

RULE:
rule "szeneWohnzimmerChanged"
when
	Item szeneWohnzimmer changed
then
	switch (szeneWohnz

[2017-04-21 23:03] mavris commented on #22
Any update on this?

[2017-04-26 20:08] digitaldan commented on #13
Wow,  I really thought I had merged that, you are correct, i did not :-(

I will prepare a new release tomorrow.

[2017-04-26 20:12] digitaldan commented on #13
@dominicdesu see #22 , I would think you would prefer that over just basic control?  I wonder if it's worth merging this, or just doing the work to support colors?

[2017-04-26 20:13] digitaldan commented on #22
@mavris I put this in as a reminder, but have not yet worked on it,  this and lock support are next on my list of things todo.

[2017-04-26 20:14] dominicdesu commented on #13
@digitaldan I would prefer #22 however it is US only ;-) Might take some while until Amazon adds support for German?

[2017-04-26 20:20] digitaldan commented on #13
it's a good point,  I will proceed with this first.

[2017-04-27 14:54] #13 closed

[2017-04-27 17:08] #22 closed

[2017-04-27 17:09] digitaldan opened #26 "Support Color Temperature"
Changes to Smart Home Skill API Reference - April 7, 2017

New directives added to control the color and tunable white light settings of devices
SetColorTemperatureRequest
SetColorTemperatureConfirmation
IncrementColorTemperatureRequest
IncrementColorTemperatureConfirmation
DecrementColorTemperatureRequest
DecrementColorTemperatureConfirmation

[2017-04-27 17:10] digitaldan commented on #23
The label is what is used for voice, so in this case "Olives Lamp"

[2017-04-27 17:28] digitaldan commented on #18
So I am not able to reproduce this.  If I say "set lights to x" my openhab receives x .  Can you confirm this is still the case?

@ami2009  your rule is depending on a state change, can you instead respond to the actual command like
`when
	Item szeneWohnzimmer received command
then`
and then use the `receivedCommand` variable instead of state?  Maybe print out what the command is? I have noticed t

[2017-05-01 20:59] codefalk commented on #18
Yes, i still confirm the behavior, but I also did not change any thing. Version is OH2 Release.
When I say " set Fernseher to 3" (checked in the Alexa app) the log sais:
` Item 'TV_Control_Set' received command 2`
The item is defined as
`Number	TV_Control_Set "Fernseher" (gTV_Control) [ "TargetTemperature" ]`

To make sure, I also changed languages and tried the same with English (US). No changes.

[2017-05-06 14:45] #14 closed

[2017-05-06 14:51] digitaldan commented on #23
I'm going to close this since it is not an issue with this code base

[2017-05-06 14:51] #23 closed

[2017-05-19 21:38] codefalk commented on #18
Update: The problem is probably not the Alexa skill itself:
I just found out that my Alexa skill configuration works with Hue Emulation enabled only. This could lead to the Hue Emulation issue described earlier causing the problem (initial post).

My new issue is the Alexa skill not detecting devices without the Hue Emulation service being enabled ... but this is another discussion thread ...

[2017-05-23 16:52] digitaldan commented on #21
This has been mostly implemented by #19 , I am only keeping this open b/c we probably need a way of polling the lock to make sure we report the correct success or failure message.   Right now we return OK if OH accepts the ON/OFF command, but most locks take a few seconds to work and may have a separate status channel we would need to report on.

[2017-05-23 18:24] Dom1n1c opened #30 "Add scenes tag / capability"
I noticed, that Smart Home Skills could provide scenes.
This might be useful, so that we don't have to use switches for scenes.
"Alexa, Switch scene... on"

https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/providing-scenes-in-a-smart-home-skill

[2017-05-24 16:36] staehler opened #31 "Let Alexa know her location"
Hi,
I've a alexa for each room, so I don't want need to say "alexa switch livingroom lights on". It should be enough to say "alexa, switch on the light", as she knows what room she is placed in.
Do you have any plans to implement such a feature?

Onother point is, that there could be a default light (kind of device) for each room, which means, when I have some light in my livingroom, alexa should

[2017-05-24 17:07] Dom1n1c commented on #31
You could use similar items, then you might be able to assign them to the amazon echo device, you prefer. For example 'Light, Lights', 'Licht, Lichter'
So then you have one echo dot in the kitchen, it listens for light
The other one in the kitchen could listen for lights

[2017-05-25 21:14] digitaldan commented on #31
We are at the mercy of the Smart Home API which does not allow this.  I wish Amazon would allow you to associate devices or their groups to a specific echo/dot/room.  One not so great solution is to setup each echo/dot under a different amazon account that you link to OH.  Then you would create a  group (in the alexa app) called "Lights" and add the item(s) you want that echo/dot to control.

Alex

[2017-05-27 22:42] llamahunter opened #33 "use home openhab, not myopenhab.org"
I'd prefer not to have a questionably secure cloud service in between the alexa service and my home openhab installation.  I sort of trust amazon opsec, not so much that of myopenhab.org.  I do have my openhab server available via https and username/password auth on a port on my home firewall for use by the openhab iPhone app.  I'd prefer to hook up alexa directly to that.

[2017-05-27 22:50] digitaldan commented on #33
Then you are free to setup your own skill and point it directly to  your OH.  See https://github.com/openhab/openhab-alexa/blob/master/config_sample.js#L10

[2017-05-27 22:53] llamahunter commented on #33
Ah, great. I didn't see this in the initial docs I read. My bad.

[2017-05-27 22:53] #33 closed

[2017-05-27 22:53] digitaldan commented on #30
I was just looking at this as well.  This would be very easy to implement, I'm a little hesitant to add new tags until we have https://github.com/eclipse/smarthome/issues/1093  figured out.

[2017-05-27 22:55] digitaldan commented on #18
I am closing this as I do not think this is an alexa smart home skill issues, but rather a  hue emulator binding issue..

[2017-05-27 22:55] #18 closed

[2017-05-27 22:59] llamahunter commented on #33
One more question... why does the github page say that openHAB Cloud is "preferred" over direct access to the home server? Is there an advantage?

[2017-05-27 23:01] digitaldan commented on #10
I have not been able to produce this, although I admit using single quotes would be better.  I'm closing, if you still have this issue or can provide some more logging that shows its a bug in openhab-alexa I will be happy to reopen.

[2017-05-27 23:01] #10 closed

[2017-05-27 23:05] digitaldan commented on #33
No, but setting up a smart home skill is not for the faint hearted.  Just make sure your proxy server is using real SSL certs (lets encrypt work).  Also I don't test at all using this method, but I have been very strict about this skill only using the standard OH REST API and not anything special on myopenhab.

[2017-05-27 23:07] llamahunter commented on #33
sweet... thx.  I think I will set up my own skill for the time being.  I'd like to +1 the goal of keeping to the official REST API so that direct communication continues to be possible.

[2017-05-28 02:01] llamahunter commented on #33
Alright, after wrestling with all that oath setup and such, and fiddling with the SSL cert chain that safari and chrome are happy with, but apparently openssl is not, it's all working.  Thx!

[2017-06-11 13:47] Dom1n1c opened #36 "Support door / window contacts"
Alexa, is my door closed? etc.

[2017-06-12 21:30] nighti opened #37 "Temperature with decimal"
Alexa says in german in temp request only the value without decimal places.
Could the issue be the parseint function, instead of using parsefloat?
var value = parseInt(items.targetTemperature.state);

[2017-06-12 21:48] Dom1n1c commented on #37
I can confirm that this issue is existing in German.
Furthermore, the unit is not told and the location is not correct.
For instance: OpenHAB offers an item with the value 20.9 (degree Celsius, since not tagged with 'Fahrenheit')
Alexa says: Drinnen ist es 20

Translation: Inside it is 20
(this makes no sense, if I request an outside temperature)

[2017-06-12 22:13] digitaldan commented on #37
Thanks @nighti ! That's probably the issue, I will take a look tonight and try and get it fixed

[2017-06-13 05:59] #37 closed

[2017-06-13 06:04] digitaldan commented on #36
We can only support what is in the smart home API, I would suggest you request this feature from the Alexa devs.  If they add it, we can use it.   If they do add it, or its actually already there feel free to re-open this.

[2017-06-13 06:04] #36 closed

[2017-06-15 19:58] Dom1n1c commented on #37
Decimals were now announced.
But there is an issue with the spelling (in German)
Die Temperatur von Küche ist 22. 6 Grad (its spelled zweiundzwanzigster sechs Grad, in english this would be "22nd/twentysecond")

[2017-06-19 06:20] hco commented on #11
I actually have the same problem. I added the tags, and https://myopenhab.org/rest/items?tags=Lighting actually returns some items of Type "Dimmer", "Switch" and "Color".

Should I create a new ticket or should we stick with this one?

[2017-06-19 13:31] digitaldan commented on #11
@hco are you running you own hosted version of the app as is the case in this issue?  I take it that  hitting just https://myopenhab.org/rest/items returns your items with the correct tags?  I would open a new ticket if your items are returning ok then, please also state what country/language you are using to help isolate logging on AWS.

[2017-06-21 19:51] Protestallianz commented on #31
Maybe one could use the device id? Like Kodi did? Or is this custom skill only?
https://github.com/m0ngr31/kodi-alexa#controlling-more-than-one-instance-of-kodi

But as most people are not self hosting I am note quite sure where to put the config file. Maybe there is a way to send the device id to openhab and one could make a rule ?

[2017-06-22 14:25] hco opened #39 "No devices detected"
Hi,

Alexa does not discover any devices in my opehab 2 installation.
I tagged my items, and they are working with Homekit.
https://myopenhab.org/rest/items returns this: https://gist.github.com/hco/53a7e44939d7d08fdcc1b9f28efeedfc
Could maybe something with the thermostat be the reason? It's not working perfectly with homekit either.

I am from germany and am using Alexa in german.

[2017-06-23 07:12] Dom1n1c commented on #39
try to reinstall openhab. I had similar issues with openhab-alexa and mqtt. A reinstall, keeping your configuration files was a solution in my case.

[2017-06-23 07:31] hco commented on #39
I actually configured quite some stuff using the paper ui now, so I'd have to recreate those items & things.

Also, my response of /rest/items should be wrong in that situation, and I'd like to understand what's wrong about my items, as that could improve documentation.

Is there an easy way to execute the alexa js code, without having to setup an AWS Lambda Account etc?

[2017-06-23 18:21] digitaldan commented on #39
That would be great.  When Alexa does discovery she does a GET request at `http://myopenhab.org/rest/items` and iterates through every item.  On each items the code then iterates through an item's tags (if it has any).  If it finds a matching tag then it "discovers" it.  That's it actually.  Thermostats are a little trickier b/c of how we use groups to associate the different items/channels to a s

[2017-06-25 12:03] hco commented on #39
Okay, I already figured out, that it has something to do with the Thermostat. I'm not completly sure what it is, though.

[2017-06-26 02:15] stulandr commented on #39
That's good to know.  I've not resolved my problem [here](https://community.openhab.org/t/official-alexa-smart-home-skill-for-openhab-2/23533/231?u=stulandr) so will try this to see if that makes a difference.

[2017-06-27 01:24] stulandr commented on #39
I can report that removing the thermostat tags solved the problem an my other Switchable device is now discoverable.  Thanks @hco for the tip!

[2017-06-28 16:08] nighti commented on #37
Alexa spells it like US date format. But that seems for me not an skill issue.
More an alexa issue.

[2017-07-13 07:58] fourthwall commented on #26
Hi Dan - I had a think about this one...

It seems that for the lights that support colour temperature in OpenHAB, the binding exposes them as a dimmer - but I would imagine the colour temperature is in discreet steps - my milight bulbs are - but then again, they are cheap :) perhaps the tradfri bulbs are a smooth slider of colour temperature.

Anyway, we'd need some way of getting the low and hig

[2017-08-01 04:48] digitaldan opened #40 "Entertainment Control Messages"
July 13, 2017

Operation | Capability Interface
-- | --
Turn things on and off | Alexa.PowerController
Change the channel on a device | Alexa.ChannelController
Change the input of a playback device | Alexa.InputController
Control the playback of device; fast forward, rewind and pause | Alexa.PlaybackController
Change the volume in incremental steps | Alexa.StepSpeaker
Change the volume to anywhere

[2017-08-05 17:48] mgeramb opened #41 "question for temperatur, decimal separator problem in german"
Hi,
If I ask alexa for a temperatur, I got the answer "23.5 Grad" (Which sounds '25er 5 Grad'), but it should be in German "23,5 Grad". So I think there is a problem with the decimal separator which should in german ',' instead of '.'

Is this a bug in the alexa software or is there a possibility in the skill to handle this?

Anyway, your skill is very useful! Thanks!
Kind regards,
Michael

[2017-08-06 06:27] Dom1n1c commented on #41
I also hear Twentythird degree four instead of twentythree dot four degrees (in German dreiundzwanzigster vier Grad)
This might be an issue caused by Alexa itself.
But maybe it is a thing caused by the decimal point. In software it's often a dot, but in German language it's a comma. Maybe Alexa / Amazon could not parse the dot correctly.
Even temperatures work great.

[2017-08-06 08:35] mgeramb commented on #41
I looked now in the source and I see that the number transferred to the alexa api, not a string, so it must be a bug in Alexa software itself.
And I found this hint in the development documentation:

Maybe because amazon know, that is not correct...

But maybe it is possible to round the number, so that there are no decimal places, at least if the language setting is german. In my opinion the deci

[2017-08-06 16:11] digitaldan commented on #41
Hi, so I think I'm hearing the issue is that alexa is not pronouncing the temperature request correctly in German with regards to the decimal?

For Celsius values we simply pass whatever value comes from OH to Alexa.  Do you know if your OH instance is reporting something that might be giving it issues?  Like maybe more than one decimal place ( eg 23.55 ) ?   It sounds like an issue on Amazon's si

[2017-08-07 07:13] mgeramb commented on #41
Yes, exactly

I aggree with you, I had take a look in your code, the only way seems to be to round the value for german usage - I hope you have the Information in the skill available that german is selected. I have tested the rounding approach already by using a OH rule which rounds the value to a virtual item which receives a rounded value with no decimal places, for this the pronouncing is corre

[2017-08-07 16:45] digitaldan commented on #41
We do support specifically German in the app meta information , but this is not something in code, but rather how its deployed and distributed.  There is not language specifics in the smart home skill api.  I don't think rounding C values is the right answer here,  that would affect our UK and other Celsius users.  Since German is not suppose to work in this case (not sure how it is), we may need

[2017-08-21 16:21] 2devnull commented on #33
Here are some icons for this that you can put into the Publishing Information section. Hopefully modifying this was OK.

![openhab-logo-square108](https://user-images.githubusercontent.com/4563854/29528721-0b8eab3a-866b-11e7-8cd3-f7c278d9e396.png)
![openhab-logo-square512](https://user-images.githubusercontent.com/4563854/29528722-0b91e49e-866b-11e7-9a53-8aabe3a73c0e.png)

[2017-08-21 22:15] kaikreuzer commented on #33
Honestly, I am not too keen on seeing the logo modified for special purposes. What speaks against using the plain logo?

[2017-08-21 23:06] 2devnull commented on #33
Absolutely nothing. I'll pull these down. Thanks for the feedback.

[2017-08-24 13:41] mboremski opened #45 "Rollershutter supported?"
Hey,
I was really impressed to see that we have a alexa skill.
Thanks for your work here.

While playing around I tried to include a rollershutter:
* in .item file
Adding the Switchable tag like mentioned in the Readme.md
[code]
* searched for new Devices in Alexa-App
The device "Rolladen Arbeitszimmer" is found.
So far so good
* asked Alexa to move it:
"Alexa, mach die Rolladen im Arbeitszimmer h

[2017-08-24 17:27] llamahunter commented on #33
Very clever, tho.

[2017-08-25 20:47] igvk commented on #40
Hello,
I suggest implementing Alexa payload v3 (audio-visual devices) in a separate project.
As far as I understand, the message format isn't compatible, and v3 doesn't support smart home devices, such as thermostats.
I tried to edit the code to support v3 devices, and the discovery works ok, but there is some logic that needs to be added to support such devices and their control messages.
One of

[2017-08-26 04:28] digitaldan commented on #45
I'm afraid I'm a bit confused, and this is probably a language issue, but you have named your device "Rolladen Arbeitszimmer" ,  which I believe translates to "study rollershutters", but then you ask to "lift" the "rollershutter in the study".

Alexa thinks the device is called ""Rolladen Arbeitszimmer", it does not know what those words mean, so you can't break them apart in commands, she's not t

[2017-08-26 04:31] digitaldan commented on #40
I'm not sure what you mean by payload "v3" or why we would need a separate project, we use the smart home skill api described here https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/smart-home-skill-api-reference

[2017-08-26 07:47] igvk commented on #40
I mean Alexa API for entertainment devices:
https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/building-smart-home-skills-for-entertainment-devices
There is a difference between v2 and v3 payloads, according to the documentation.

This version is selected when creating a skill:
https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/steps-to-create-a-smart-

[2017-08-26 16:17] digitaldan commented on #40
I see, to use v3 you need to enable it in the skill.  But from my limited testing it seems that enabling v3 still allows v2 messages, so we can support both with the same skill. Now, our tagging setup would need to be more complex to support this, the only "grouping" of items to support multiple commands we have is for thermostats, but I don't want to continue that pattern as its complex and hard

[2017-08-26 16:29] igvk commented on #40
Could you please elaborate on "enabling v3 still allows v2 messages"?
As far as I can see, the format of request changes with v3, and such commands as dimming of lights, etc. are not in the entertainment specification.
There is also a thread on stackoverflow, though not too much info:
https://stackoverflow.com/questions/45594813/alexa-smart-home-skill-api-v2-v3-compatibility-reference

And yes, it

[2017-09-02 16:34] digitaldan commented on #40
So, its interesting, the v3 skill controls all my devices that were added with the v2 skill, but I think thats more by accident on Amazon's part, as there is no way to add those devices through discovery if the skill uses v3.  Also it looks like amazon has updated their FAQ about this:

No. You currently need to build three skills: one that supports entertainment devices, one that supports video c

[2017-09-15 14:34] htreu commented on #45
Hi @mboremski, in my setup I have extra items for alexa which are modelled like this:
`Rollershutter Shutter_Alexa_Kitchen "Rollladen Küche" [ "Switchable" ]`. In the skill the Rollershutter items will be translated to dimmable things which also accept percent values. So you are able to tell Alexa "Setze Rolladen Küche auf 100%". You need an additional rule to make this work in case your Rollershu

[2017-09-22 19:42] patristein commented on #41
Hi,
same problem for me.

I think this is based on wrong format of given value.
Have you tried to transform "23.53" to "23,53"?
Should be possible in rules file but sadly I am not familiar with the syntax.

Could you please give me a hint on how to transform the value?
In my case a value of "23.40000000002" is given so I need to round/cut for two digits after delimiter and set delimiter from dot t

[2017-09-24 09:42] mgeramb commented on #41
Hi Patrick,
Transformation will not work, I took a look in the alexa skill API and it takes the number itself, not the formatted value. So the wrong transformation to the string is done in the alexa software itself and can only be changed by amazon.
For myself, I have created a additional number item with no channel binding which will be written by a rule which rounds the number to zero decimal pl

[2017-09-27 19:12] rabejens opened #48 "Out of nowhere, device discovery stopped working"
I configured some lights and fiddled around with groups. Out of a sudden, all of my devices were shown as "offline". So I discarded them all in my Alexa app, removed all my groups (as it was before) and restarted a device discovery. Still, no devices are found.

When I look in the logs of the skill, I see that the devices are correctly queried and discovered, however they don't show up in the skil

[2017-09-27 19:35] #48 closed

[2017-09-29 10:21] patristein commented on #41
Hi Michael,

thanks for clarification and code snippets.
I'll try to get your solution running ;)

Regards

[2017-10-02 16:57] fabkai opened #49 "Alexa Voice Service Notifications with openHAB"
Hello everybody,

is there already a plan or the possibility to use the new Alexa Voice Service Notifications with openHAB:
https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/reference/notifications-overview

Similar to the push notifications of myopenHAB (sendNotification(“your@email.address”, “Hello world!”))

For example, so Alexa can welcome me when my door is opened etc.

[2017-11-03 16:37] mboremski commented on #45
Found out something new...
I got two devices like this:
[code]

The commando "Alexa, setze Rollade Küche auf 50%" is working.
The commando "Alexa, setze Rollade Arbeitszimmerauf 50%" is not working.

If I rename like that:
[code]
(so, removed "Rollade") the following commando works fine:
"Alexa, setze Arbeitszimmer auf 50%"

**Are there any limitations on the length of a label?**

[2017-11-03 17:21] mboremski commented on #45
Finally found the Solution...
In germany since 1996 (Spelling Reform) we write "Rolllade" with three L.
My labels only had two L -> "Rollade"
Since Alexa uses new germany spelling rules for "Speech to text" my Labels did not match 💢

Corrected it:
[code]
Now it works perfect.

[2017-11-03 17:21] #45 closed

[2017-11-03 17:36] mboremski commented on #39
@hco, did you finally solve this problem?

Did you see that in your [items.json](https://gist.github.com/hco/53a7e44939d7d08fdcc1b9f28efeedfc) your tags are empty?

[2017-11-11 14:03] Dom1n1c commented on #41
Seems to be solved now.
Amazon updated the speech engine and german grammar is now correct.
"Es ist neunzehn komma drei Grad"

[2017-11-12 10:47] mgeramb commented on #41
Yes! I can confirm it, it works now!

[2017-11-26 07:24] gagadepp opened #53 "OpenHab Alexa skill to support English(india)"
Who can be contacted to add support for OpenHab Alexa skill to support English(India)? It's unlisted on Alexa skill store as English India is not yet supported.

[2017-11-26 22:06] digitaldan commented on #53
Hi I submitted our app for English(India) yesterday, hopefully it will be approved soon!

[2017-11-26 22:06] #53 closed

[2017-11-27 05:40] gagadepp commented on #53
Brilliant! Thank you so much! ☺️

On 27-Nov-2017 03:36, "Dan Cunningham" <notifications@github.com> wrote:

Hi I submitted our app for English(India) yesterday, hopefully it will be
approved soon!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/openhab/openhab-alexa/issues/53#issuecomment-347042380>,
or mute the thread

[2017-11-29 09:02] fabkai commented on #49
In a small keynote at Amazon's re:Invent conference in Las Vegas, the company has now shared some interesting news. Alexa skills should now have the opportunity to use the notification system from Alexa: https://developer.amazon.com/de/blogs/alexa/post/833b9af4-26e6-47d2-a13d-bdbd9a257512/expanded-developer-preview-of-notifications-for-alexa-skills

[2017-11-30 07:29] csowada opened #54 "FYI: I'm working on a V3 smart home skill"
Hello,

I' m started to port the alex skill to V3. It's currently more just for fun to see how Alexa and AWS works. But maybe it is useful. I will add the fork to github next days.

[2017-12-04 10:26] roben commented on #31
You can create smart home groups directly within the alexa app and also assign echo devices to the group. This way she'll know the room (=group) she should default to, so you can simply say "Alexa, light off".

[2017-12-05 00:08] velaar opened #55 "Openhab-Alexa English (Canada) support"
At the moment the skill is not available in Canada. Any chance to get it to work? Should be an easy fix.

[2017-12-05 04:17] digitaldan commented on #55
Yes , this should be very easy :-). I will take a look this week

[2017-12-05 08:25] Protestallianz commented on #31
True, but this option is new and also not quite comfortable as it doesn't work for me with openhab items exposed to alexa. (I have to use the connection between the hue bridge directly). Color Hues coming directly from the bridge have a bulb icon. "Color Items" from OpenHab are having a Switch icon.

Furthermore, this is not a quite good way as you split up your configs in different places (openha

[2017-12-05 08:33] roben commented on #31
This would only work if you register every echo dot in OH otherwise. And then you have your Echo Dot configuration split up in two places.

Yes it does, I'm using it this way. OH is my only smart home skill. This way I have a centralized interfaces for all my (not so) smart devices (Tradfri, Z-Wave, custom stuff).

[2017-12-05 09:39] Protestallianz commented on #31
Mhm I always get the response "Light doesn't support that" (Whereas naming the Item by its OH name works perfect.) What kind of icon do they have in the alexa app?

Yes, but I would rather split the alexa config once and then work in OH (Ones Smart Home changes all the time) than using the buggy and slow Alexa app for configuration instead of openhab.

[2017-12-05 10:16] roben commented on #31
They are shown as switches, but at least in German "Switch XYZ on/off" and "Set XYZ to N percent" works just fine.

[2017-12-07 20:28] mfloren commented on #55
Also looking for this skill from Canada.

[2017-12-10 10:37] silkycove opened #56 "Openhab-Alexa Japanese region support"
I have verified that Alexa openHAB skill works fine for Japanese.
Please add Japanese language (region) to the official skill’s supported language (region) list.
I did the below to verify the skill in Japanese environment.
I cloned the skill, and run it under my AWS account. I set the language of the skill to Japanese and put openhab item label in Japanese (utf-8).  I added the skill and searched

[2017-12-10 15:20] Protestallianz commented on #31
Sorry for the late response: Yes "Switch xyz on/off" works (but that wasnt the question).

"Switch THE LIGHTS On" only works with "Light Smarte Homedevices" in alexa as it is stated in this thread by somebody else: https://community.openhab.org/t/official-alexa-smart-home-skill-for-openhab-2/23533/512?u=rickecho

[2017-12-12 13:21] Stefan39135 commented on #54
how far along you are, I would be very pleased if there were a V3 support.

[2017-12-12 13:28] Stefan39135 opened #57 "all devices are identified as TYP- switch"
if i use the lable ["Switchable"]  or  [“Lighting”]  all devices are identified as TYP- "Switch" in the Alexa App
but this Typ is very importnat for using Group commands like "lights on"

[2017-12-13 13:08] gdgeist commented on #49
Hoping the leadership here sees the value of visual and audible notifications from the Alexa ecosystem (echo system?). The Sonos voice sink is great but expensive at $30/echo for visual plus two way audio interaction would think this would rise higher in the priorities

[2017-12-13 13:09] nat38 commented on #54
would love to use the V3!

[2017-12-13 14:03] velaar commented on #55
Any news here? Or should I run it in a dev account for now?

[2017-12-13 15:39] digitaldan commented on #55
Hi sorry for the delay, the skill has been resubmitted to support Canada and Australia , I'll let you know here when its been approved by Amazon.

[2017-12-17 21:21] BCS-JonW commented on #54
FYI - I went to setup my own OpenHAB skill today and it seems Amazon no longer allows you to create a V2 skill.  It's listed as deprecated and only the V3 option is enabled.

Fortunately I had some older V2 skills defined that I no longer needed and I was able to rename and repurpose one of those for OpenHAB usage.

[2017-12-20 09:28] fseffert commented on #21
Can you guys enable this also for german and austrian users? It's working now... https://developer.amazon.com/de/blogs/alexa/post/f679579b-f786-42ed-ae54-cf004e31ce02/alexa-is-the-front-door-locked-lock-control-and-query-for-smart-home-skills-now-available-in-germany-and-austria

[2017-12-23 19:19] jsetton commented on #57
I already submitted the change, to correct this, which was merged but apparently not deployed.

#52

[2017-12-29 17:38] PaulKierstead commented on #55
Thanks digitaldan!! Now Amazon, get off your tushes and get that approved!

[2018-01-03 16:52] staehler commented on #31
@roben
Please correct me if I'm wrong: I just can create one group with the name "light", right? As I have three Alexas in different rooms, I want all of them to switch the ligt in her room (bathroom, living room, bedroom).
Your suggestion works only for one room/group, otherwise I need to define for each room another groupname, like light, lights, lighting or so. Or do I something wrong?
What I w

[2018-01-03 18:04] roben commented on #31
Maybe you can create a single item for every room in OpenHAB which triggers all the lights in this room with a rule. If you export each as "lights" (or maybe "lights <room name>" works, too) to Alexa and put each in a different group assigned to the Alexas, each Alexa should react properly to "Switch lights on". I did not try this out but it sounds as it could work ;)

[2018-01-03 18:13] Protestallianz commented on #31
Have not tried this as well but why should it work? It seems like it only works when is category "light" in alexa but unfortunately every item (no matter the openhab) is identified as a "switch". See also here for the fix: https://github.com/openhab/openhab-alexa/issues/57

I kinda solved it by using the native hue detected lights, so at least my rooms with hue lights work with "light on/off" (com

[2018-01-03 21:04] sipvoip commented on #54
Any update on this? I also would like to move to v3

[2018-01-03 21:24] digitaldan commented on #54
I have a v3 version in dev right now, I'm shooting for a PR by the end of next week.

[2018-01-03 21:25] sipvoip commented on #54
You rock!

On Wed, Jan 3, 2018 at 4:24 PM Dan Cunningham <notifications@github.com>
wrote:

--

nathan stratton

[2018-01-03 22:57] wladwnt commented on #54
For those who need a new v2 skill: you still can select payload v2 with one trick. The selection v2 is just deactivated in html. It is possible to change html (DOM) on the fly in the browser and enable v2 selection.
If you use firefox (other browsers have similar tools), use right click (mouse) on the v2 select box, then in the pop-up menu select "examine element (Q)" (or similar item, I have it i

[2018-01-03 23:08] sipvoip commented on #54
Is this even needed? I am set to v3 and things seem to be working just fine.

On Wed, Jan 3, 2018 at 5:57 PM wladwnt <notifications@github.com> wrote:

--

nathan stratton

[2018-01-05 16:22] velaar commented on #55
Surprisingly, amazon says "We will provide feedback or publish your skill within 7 business days in most cases." any issues there?

[2018-01-12 13:12] terler188 opened #58 "Support connection to self-hosted openhab-cloud solution"
Currently the skill only points to the "myopenhab.org" solution (afaik). But the openhab-cloud solution also offers the oppertunity to host it yourself. Therefore the skill should provide the possibility to enter the URL of a self hosted openhab-cloud solution. "myopenhab.org" could be the default value for this field.

[2018-01-13 18:18] sipvoip commented on #54
Any update?

[2018-01-13 22:48] HenniOVP commented on #30
Hi,
Any news on the scenes topic?
Looking through the code, I noticed that ["SCENE_TRIGGER"](https://github.com/openhab/openhab-alexa/blob/4a8e753915b10143b73c150aa5b5d22da330236a/oh2.js#L573) is already mentioned, but not implemented. As well the readme hints with "Alexa turn on Home Theater Scene" that there could be such a feature.
I would very much like to help with this topic. Concerning Java

[2018-01-20 18:13] jsetton commented on #58
As far as I know, you wouldn't be able to do this using the official openHAB Alexa skill since currently, there is no way to have such customized settings at the skill level.

The only solution I can see is to run your own version of the skill and back-end function using the installation steps listed in the [README ](https://github.com/openhab/openhab-alexa/blob/master/README.md) file and point th

[2018-01-21 21:13] devkid commented on #58
Didn't test it yet, but doesn't the [`README.me`](https://github.com/openhab/openhab-alexa/blob/master/README.md) describe exactly what you want? You only need to edit and rename `config_sample.js` and `env_sample` and can deploy your own Alexa skill (which you don't need to publish), backed by a Lambda function that has your configuration and relays your Alexa requests to your own OpenHAB install

[2018-01-21 21:34] devkid commented on #54
Question for discussion: Would it maybe make sense to implement a minimal Lambda function for forwarding all incoming Alexa requests directly to OpenHAB? [I implemented this in the last few days on my own](https://devkid.net/2018/01/20/alexa-skills-on-your-own-server/) (before I even saw that this OpenHAB Alexa skill is usable without an OpenHAB cloud account) and managed to voice-control my therm

[2018-01-22 13:55] Celaeno1 commented on #57
Any updates here?

[2018-01-23 16:59] digitaldan commented on #54
@sipvoip Sorry, I got caught up for the last 2 weeks upgrading our openhab cloud infrastructure, finally that yesterday.  So, i'm back on this starting today, not sure when I will have an update, but I hope soon, this release will also enable better grouping of items which i'm excited about, for example if you have a stereo (OH group) with multiple items (power, input, volume, etc..) this will let

[2018-01-23 17:02] digitaldan commented on #54
@devkid I guess you could do that, but I'm not sure what that would accomplish, and since this does work directly against a OH (no oh cloud required), you would be duplicating effort.  I think using open API"s is much preferable to having to create custom endpoints that must be maintained and tested.

[2018-01-23 17:03] velaar commented on #54
@digitaldan And does support for English-Canada come with V3? #55

[2018-01-23 17:23] digitaldan commented on #54
That can come now, we had an issue with our configuration that failing review for this and another region, I'm hoping to clear that up this week as well.

[2018-01-23 17:27] digitaldan commented on #58
Closing as this is already supported

Yes and no, you can still select v2 through a workaround, they only disable selection in the actual html (weird), so if you enable the selection through something like the chrome inspector you can select v2 and submit it.  Surprised that it actually worked for me.

[2018-01-23 17:28] #58 closed

[2018-01-23 17:50] digitaldan commented on #57
This was deployed today

[2018-01-23 17:50] #57 closed

[2018-01-23 18:05] digitaldan commented on #31
Hi all, a small fix was deployed today which should enable "smart home groups" with items tagged as ["Lighting"] .  In the alexa mobile (don't use web) app you can create a new group, add your light(s) and the associated echo/dot and it will respond to "lights on/ lights off" for just that group.     You might need to remove your devices in the alexa app and have alexa re-discover them for this to

[2018-01-23 19:41] devkid commented on #54
But the current situation is the same, isn't it? You need to maintain and test the Lambda function (which is basically an endpoint for Alexa and translates Alexa requests into OpenHAB requests). By converting the Lambda function into a simple forwarder, you could implement that translation logic directly in OpenHAB. The advantage would be that, if some OpenHAB APIs were supposed to be changed, you

[2018-01-23 20:08] digitaldan commented on #54
I think that is not an issue, API compatibility is critical, otherwise our clients would cease to work, and we can't ask thousands of users to change their integrations b/c we want to break our API's for some reason.  The API's have been compatible back to the 1.0 days, we have added more functionality and additional API's, but they work backwards, so i think there would need to be another benefit

[2018-01-29 19:52] xibriz commented on #31
Tested this now. Works OK. Can say `Alexa, lights off` and `Alexa, dim to 50%`

No need to re-discover.

[2018-01-30 18:24] staehler commented on #31
Tested it as well, works fine :-) I can confirm, there is no re-discovery necessary. Thanks a lot.

[2018-02-04 02:21] jsetton commented on #26
In case, this support will not be part of the initial release of the v3 ported skill [#54], I have implemented the color temperature support with the current version.

jsetton@32b213adeff1595c9b7ae94eb755a1d170f0ad27

In my implementation, the color temperature is defined as a dimmer item which is set to the value given by the API divided by 100. The increment/decrement functionalities send INCREA

[2018-02-05 17:52] jsetton commented on #30
In case, this support will not be part of the initial release of the v3 ported skill [#54], I have implemented the scene trigger support with the current version.

jsetton@f5e6a6352fc0ef4a4b183387d886a997458312a0

Here is an item definition example:

[code]

Based on the [API reference](https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/archive/shv2-providing-scenes-in-a-sma

[2018-02-06 05:48] inchlogic commented on #55
Hello. Any update on the Australian Store? I unpacked my new dot last night and was disappointed to see no OpenHAB skill in Australia.

[2018-02-06 05:50] inchlogic opened #59 "Support for Australia"
When will the OpenHAB skill be In Australia?

[2018-02-10 15:22] AfromD commented on #26
@jsetton : Can I somehow help in testing this? I am using the zigbee binding to control some lights, and have been waiting to be able to control color temperature via alexa.

[2018-02-10 15:26] velaar commented on #55
Nor in Canada. "You are not eligible to enable this skill due to geographical restrictions."

[2018-02-10 16:06] jsetton commented on #26
@AfromD You can run your own version of the skill and back-end function by cloning my repository and using the installation steps listed in the [README](https://github.com/openhab/openhab-alexa/blob/master/README.md#general-installation-instructions).

Keep in mind that if going that route, you would need to use [this workaround](https://github.com/openhab/openhab-alexa/issues/54#issuecomment-3551

[2018-02-12 09:38] AfromD commented on #26
@jsetton Thanks for your work. Right now it seems like a steep learning curve to get it going, probably won't find time for that soon. Was hoping there was some way I could have used an already setup (unpublished) instance.

[2018-02-12 16:59] djdubois commented on #26
@jsetton Thanks for sharing your code. I set your skill up. Not super easy, but eventually I had it run. Unfortunately the device I need to control (a WiFi LED strip compatible with the WiFi LED binding, but only RGB - not RGBW) does not have the white channel for the temperature. The native app (MagicHome) is able to emulate all the whites through Alexa by converting the shades of whites to HSL v

[2018-02-12 19:17] jsetton commented on #26
@djdubois I actually did exactly what you are describing in emulating the Magic Home Alexa skill to a certain extent. You can use the below color temperature to RGB algorithm to get the emulated white color code. On my side, I just have an additional algorithm which translates RGB to RGBW. I also included the rule functions I am using to control my LED strips.

Obviously, the change color logic wo

[2018-02-14 01:20] damianpmorris commented on #59
I want to know this too.

[2018-02-19 02:48] Flole998 commented on #54
Is there a repo for this fork yet? Or any other way to stay updated? Or is this dead?

[2018-02-19 05:09] digitaldan commented on #54
I have a v3 skill working, but have not committed anything yet,  I'm trying to get some time free to do so, but life is not cooperating at the moment.

[2018-02-19 05:21] Flole998 commented on #54
Alright awesome, thanks for the update. Are there any new functions like lock/garage door and media control support?

[2018-02-28 00:54] BenCanada commented on #54
We are stuck here in Canada with no OH skill available to us. :(

[2018-03-02 04:01] idkpmiller commented on #54
Of all the main skills I use on Alexa, openhab and Plex are the last two I am waiting for.

I understand Canada, Australia and New Zealand are all waiting. What happened with India did it get it already?

[2018-03-04 20:25] henwid commented on #55
Still not available on amazon.ca

[2018-03-06 16:56] tulamidan commented on #54
@digitaldan I'd be very curious to get my hands on that skill. It seems like the little trick to get a v2 skill activated does not work anymore.

[2018-03-06 17:02] digitaldan commented on #54
I have V3 working!  Just working out the bugs and cleaning up

https://github.com/digitaldan/openhab-alexa/tree/v3

[2018-03-06 17:45] digitaldan commented on #55
I submitted it agin to Amazon and its currently in certification, hopefully this does it.

[2018-03-06 22:27] jsetton commented on #54
Thanks @digitaldan. I just did a quick successful test with discovering devices. The first thing to note for the folks who will be testing this, is that you will need to change the AWS Runtine value in your env file to nodejs 6.10 as some of the array functions aren't supported in nodejs 4.3.

[code]

[2018-03-06 23:13] inchlogic commented on #55
@digitaldan did you happen to also submit for AU store?

[2018-03-07 00:30] digitaldan commented on #59
I have this submitted and in certification, I'll post back here if/when its approved

[2018-03-07 00:32] digitaldan commented on #54
That and a few other things :-)  I started updating the readme, but its far from complete.  I have introduced a new tagging structure to match the much more comprehensive feature set available in v3, although v2 tags still work (see the v2 conversion function).  I am just implementing temperature scale right now for temp sensors and thermostats.

[2018-03-07 00:44] digitaldan commented on #55
yes, its everywhere except Japan

[2018-03-07 00:49] jsetton commented on #54
Thanks for the update. I was about to implement the temperature scale as I noticed the Fahrenheit scaling was not supported while doing some additional testing :-)

Regarding the device categories, I saw that you are using the device capability to determine them compared to using the tag defined in OH in v2. I am afraid this will lead to device incorrectly setup. For example, a roller shutter item

[2018-03-07 01:53] inchlogic commented on #55
Awesome! Thanks @digitaldan

[2018-03-17 05:26] idkpmiller commented on #59
As the notice of certification submission was over the 7 business days that Amazon take to assess, I can only assume the skill failed to pass certification.
Please can you update on current progress.

[2018-03-17 15:37] digitaldan commented on #59
We did get rejected, there is an apparent issue with our demo server, I'm trying to troubleshoot it this weekend, I'm hoping to resubmit today or tomorrow.

[2018-03-19 02:50] idkpmiller commented on #59
Good luck!
My experience is if you respond with the issue corrected fast then they
seem to only test from the points picked up, which has the impact of a fast
turnaround for resubmitted skills.

On 18 March 2018 at 04:37, Dan Cunningham <notifications@github.com> wrote:

[2018-03-19 14:16] digitaldan commented on #54
I have an updated README with more details on item configuration if people are interested
https://github.com/digitaldan/openhab-alexa/blob/v3/README.md#item-configuration

[2018-03-21 20:59] sipvoip commented on #54
Thanks!

[2018-03-22 02:14] Flole998 commented on #54
Is there a hosted version available aswell? Also what are the plans on merging this/replacing the old skill?

[2018-03-26 13:12] staehler commented on #31
@digitaldan As far as I could find out, there is an individual deviceId returned within the json from alexa service, which could look like this:
[code]

Wouldn't it be possible to connect devices to one dedicated alexa, so that there is no need to say the location (bedroom, bathroom, ...)? At the moment I just can switch on/off the lights, but wouldn't it be nice to switch just any group of device

[2018-03-26 14:29] digitaldan commented on #31
This should already be there with Alexa "Smart Groups".  Using the mobile app (do not use the web version, option is not there), create a new group (say bedroom), there you can associate a specific alexa device along with any smart home devices.  Any devices under the category "lights" will respond to "turn all lights on/off" when asked from that alexa.  Right now the category is fixed in the v2 o

[2018-03-27 21:23] kiwiRickNZ commented on #54
Hi Dan, how’s the progress on this, I’m really excited to link Alexa and openHAB

[2018-04-01 15:21] BenCanada commented on #54
I am also interested if this will be replacing the old skill. Since we still do not have it in Canada anyway.

[2018-04-01 18:58] digitaldan commented on #54
I am close to releasing a version of this that will replace the v2 skill and be compatible with what we have now ( users won't need to change anything ).  I am going to wait for https://github.com/eclipse/smarthome/pull/4390 to be merged and released to enable the extra functionality and not try to use tags for everything.   I will also get our international deployment fixed here soon, but i need

[2018-04-02 03:58] Clifford-Foster commented on #59
Hi @digitaldan - any update?

[2018-04-05 23:13] DevNull000 commented on #59
Hi @digitaldan, could you please update on the progress... :-)

[2018-04-10 14:56] digitaldan commented on #59
The latest news  is that Amazon will not allow our app for submission until it is ported to the V3 skills api, they no longer accept new app or even updates to v2 skills.  The good news is I have a working v3 skill, see https://github.com/digitaldan/openhab-alexa/blob/v3/README.md#version-3-v3-item-mapping .  While the extended tags in that readme are going to be changed significantly due to a new

[2018-04-11 02:28] Clifford-Foster commented on #59
Thanks @digitaldan.  For the time being I have created it as a private skill in my development console.

[2018-04-12 11:35] menzy81 commented on #55
@digitaldan any word on Australian support?

[2018-04-12 13:25] thetonto commented on #54
Will this also cover the AU version as well.  I changed my account from the US to AU and lost all my skills.  Thanks

[2018-04-12 14:17] digitaldan commented on #54
Yes, in fact I will need to push this out early as I can not update our current v2 app anymore, including just updating the config to work in the AU, everything is now required to be v3.

[2018-04-14 13:40] Clifford-Foster commented on #59
@digitaldan I had to add a response for Authorization else I couldn't link my account.

`/**
 * Handle Authorization
 */
function handleAuthorization() {
  var result = {
    event: {
      header: {
        messageId: uuid(),
        name: "AcceptGrant.Response",
        namespace: "Alexa.Authorization",
        payloadVersion: directive.header.payloadVersion,
        correlationToken: directive.

[2018-04-28 17:04] digitaldan commented on #56
@silkycove can you help but translating https://crowdin.com/translate/openhab-alexa/47/en-ja ?

[2018-04-28 17:34] digitaldan opened #68 "V3 Metadata and tags"
@jsetton , @fmeies  Right now the V3 skill was built with the idea of tags, as of 2.3 this will change to the Metadata on items, although v2 tags will still be supported (as you both already know, just stating the obvious) .  Right now we have a metadata function in the code that converts metadata to tags, but I wonder if this is the right approach? Now that I have more eyes on this, I would not m

[2018-04-28 18:48] jsetton commented on #68
My initial intention when I implemented the metadata support was to limit the amount of changes around the property map core logic, you had implemented, by keeping it based on tags.

However, I thought about directly using the openHAB metadata object as the property map, that we send in the discovery response, and convert all tags to the metadata object format. This basically comes down to what we

[2018-04-28 19:06] digitaldan commented on #68
This was my though as well, one issue however is that metadata is linked to a single item, where many items can be linked to a Alexa endpoint,  would an endpoint contain an array of metadata? (have not really thought that out yet)

This is my intent as well,  we should not encourage future use of tags for Alexa.

Can you give an example of this?

[2018-04-28 19:37] jsetton commented on #68
Yes, it could be an array of metadata object to which we include the item name. Not very different than how the property map we sent out is structured currently.

**Items Definition**
[code]
**Expected Results**
- [LightColor](https://github.com/openhab/openhab-alexa/blob/v3/test/v3/test_discoverLightColor.js)
- [Thermostat](https://github.com/openhab/openhab-alexa/blob/v3/test/v3/test_discoverThe

[2018-04-28 22:40] jsetton commented on #68
You can see [here](https://github.com/openhab/openhab-alexa/blob/95e15e5884b72cdd668627b5663c32cc92030247/ohConnectorV3.js#L947) the labels/tags I have added in my implementation.

My idea is that we can always specify Alexa capabilities directly and these would take precedence over the ones derived from labels. But my concern is for folks who aren't familiar with these and may just want a functio

[2018-04-28 23:46] digitaldan commented on #68
I think thats a good place to start, and if the collective group comes up with other labels then I think its ok to support them, but I want to avoid coming up with new ones that are just for Alexa.  In the docs i think it will be good to always state what a label expands to so people are aware ( if they care) what a label is actually doing.

I agree the namespaces are long and complex, and the lab

[2018-04-29 20:46] fmeies commented on #68
Looks like need to catch up on this a bit. I'm somewhat confused by the different terms/concepts. Please correct me if I'm mixing things up. As far as I understood, there are the classic openhab tags (i.e., "Lighting") but support for these tags will be dropped soon in openhab (or at least it will be deprecated) in favour of metadata. This metadata comes in two flavours: One that allows for direct

[2018-04-29 21:51] jsetton commented on #68
Correct, that is the idea behind the concept of "labels" I mentioned.

Metadata labels and v2 tags would translate to the same v3 capabilities they would differ at the customization level, as per the examples below, since the plan is to only support parameters at the metadata level. So, the v2 tags would just use default parameters.

[code]

[2018-04-30 01:30] jsetton commented on #68
@digitaldan I just submitted a new [PR](#69) with the changes we discussed above. Basically, I changed the core logic to be based on items metadata object and removed tag parameters support since it seemed that we both agreed on these two changes. I ended up keeping the same property map structure. As you predicted, having an object based on items doesn't work well for our usage.

The last change

[2018-05-04 11:02] DonStefano opened #70 "Item with tag "CurrentTemperature" is discovered as type "other""
I created an openHAB item with the tag "CurrentTemperature" without using a group with the tag "Thermostat". This item was dicovered by Alexa as type "Other". When put into a group with tag "Thermostat" it was discovered as type "Thermostat". I think the item outside a group should be discovered as type "Temperature_Sensor".

[2018-05-06 04:34] LukeScerri commented on #54
Great news.. any idea when we might see the skill in the AU store?

[2018-05-07 13:33] LukeScerri commented on #55
Any updates on this one please? Either For Canada or Australia?

[2018-05-12 06:02] LukeScerri commented on #59
Hi All, any updates here? Patiently waiting.

[2018-05-12 07:15] Clifford-Foster commented on #59
Have you considered deploying it yourself?  It's working fine for me in Australia with the Skill.

[2018-05-14 20:32] AnPutz commented on #26
very good solution.
Could you provide colorRGBToRGBW.js aswell please

thx a lot

[2018-05-15 14:26] jsetton commented on #26
@AnPutz Here you go. I also included the reverse logic as well in case you want to keep your virtual color item in sync when you interact directly with your LED lights.

**transform/colorRGBToRGBW.js**
[code]
**transform/colorRGBWToRGB.js**
[code]

[2018-05-16 06:35] kiwiRickNZ commented on #54
Is there any way to donate to get the au support added sooner?

[2018-05-16 19:06] AnPutz commented on #26
Thx a lot for your fast response, I will try it next free time slot.

[2018-05-16 21:09] jsetton opened #73 "V3 Asynchronous Deferred Response Support"
@digitaldan - I have been working to add asynchronous response support so we can send [deferred response](https://developer.amazon.com/docs/device-apis/alexa-interface.html#deferredresponse) for device such as locks to report the accurate state once the action is complete.

Part of this integration is the need to send asynchronous responses to the [Alexa Event Gateway](https://developer.amazon.com

[2018-05-20 14:18] blackcatoz commented on #54
I second that @kiwiRickNZ.

I’ve tried setting it up in dev mode, but I think there are steps either missing or changed. I’ll keep trying though, but would love to see the AU skill available...

[2018-05-20 16:56] jsetton commented on #54
@blackcatoz I have updated the install steps in the latest version I just submitted. Let me know if you are still unable to setup the skill in your region. If you are using the code from the current v3 branch, you will have to skip the "Setup Lambda function AWS resources" section along with not enabling the "Send Alexa Events" skill permission feature, as these are only supported in the latest up

[2018-05-21 13:34] blackcatoz commented on #54
@jsetton. Thanks so much for the updated instructions. Appreciate it. I’m much closer now, failing account linking. I’ve obviously made a mistake somewhere along the way... don’t know exactly where yet...look at it again tomorrow...

[2018-05-22 02:50] blackcatoz commented on #54
@jsetton I know this isn’t a support thread, so happy to take this elsewhere. Been pulling my hair out on what is probably the last step - account linking. I click to enable the skill, taken to the myopenhab.org/login page, login in successfully with my credentials, then nothing. Not redirecting from there. Am I using the wrong auth URI? Been over everything multiple times.

Thanks in advance, Gre

[2018-05-22 03:02] jsetton commented on #54
@blackcatoz are you using your own cloud connector instance? If not, you would need to use Login with Amazon to mimic the OAuth2 account linking process and add your myopenhab username:password in the config.js. Once this is setup, you would get an Amazon account approval page during the account linking process.

[2018-05-22 05:05] Clifford-Foster commented on #54
@blackcatoz what option did you select on the Alexa skill permissions page for "Request users to access resources and capabilities"?  The current V3 code doesn't handle authorizations correctly if you select 'yes'.   This was pointed out to me recently after I had to add code to handle this (I inadvertently selected yes as it seemed like a good idea :)

[2018-05-22 05:17] jsetton commented on #54
https://github.com/digitaldan/openhab-alexa/pull/3#issuecomment-389670566 😄

[2018-05-22 08:07] Clifford-Foster commented on #54
Are your items showing on OpenHAB Cloud (assuming you aren’t going direct to your OH server)?   If not, then keen to see what your .env and config files for Alexa are.

[2018-05-22 11:28] Clifford-Foster commented on #54
I was running my own OpenHab Cloud instance so it was easy for me to debug as I could check log files.   I have shut it down now and changing the Alexa skill to point directly to a reverse proxy running at my house.    Was having problems with my ISP (Optus) as they were blocking port 80, which made it difficult to get a SSL certificate installed.

[2018-05-22 14:21] jsetton commented on #54
@blackcatoz if you haven't already, check the Lambda function logs in Cloudwatch. The skill is pretty chatty. So you should be able to see where the point of failure is.

[2018-05-22 15:15] blackcatoz commented on #54
@jsetton was looking at them. The only things showing up were the test calls from the lambda function, nothing from the skill.

I did however just get one step closer, just deployed a function to us-west-2, and I can see device discovery from the app. Devices aren’t showing up in app yet, but we getting closer... further tinkering tomorrow...

[2018-05-22 20:03] Clifford-Foster commented on #54
Should have pointed that out.  You need to deploy into Oregon for Australia to work according to the docs.

[2018-05-23 01:39] blackcatoz commented on #54
All good @clifford. Lots of reading done where I discovered it.
Query though, is it normal for the AlexaDiscovery in the Lambda function to take 18-24 seconds to run? I do have a few items, but not that many, and probably around 25 items tagged for HomeKit. I’ll de-tag some and try again.  Does the Alexa app get bored and time-out, hence not finding my devices?

[2018-05-23 11:18] Clifford-Foster commented on #54
The time is about right.  Why are you tagging for Homekit?   The tagging should be something like
`Switch LightSwitch "Light Switch" {alexa="PowerController.powerState"}`

[2018-05-23 11:50] blackcatoz commented on #54
Cool. Well if that time is right there must be something else still going on.

Existing items tagged for HomeKit as I’ve had HomeKit & Siri integration working for sometime. But Alexa ‘in da house’ now. Not going to be buying Apple’s overpriced speaker thing... but I can’t remove HomeKit tags on all items yet as I need to have an operating system for The Executive Direction of Household Operations

[2018-05-23 11:54] Clifford-Foster commented on #54
What do you see in CloudWatch in response to the "Alexa.Discovery" message?

[2018-05-23 11:57] blackcatoz commented on #54
CloudWatch logs shows successful discovery of devices from MyOpenHAB, but thinking about it, i guess I should see a send back to the Skill...

[2018-05-24 05:50] blackcatoz commented on #54
Update: mild success. After a new seperate install of OH2.2 release and new MyOH cloud account, I’ve successfully discovered a single item. However, that single item would only be discovered if it had HomeKit tags, not v3 Alexa tags...

I’ve verified correct function version uploaded. Discovery.Response shows Payload.Endpoints as v3.

I’ll continue to poke around, and add my existing prod items fi

[2018-05-24 09:21] Clifford-Foster commented on #54
You need OH2.3 snapshot (I think) for V3 tags to work.

[2018-05-24 12:29] blackcatoz commented on #54
Thanks Clifford. Tried 2.3 snapshot, no go. Clearly I’m missing something somewhere for v3 tags to work...
Even going directly to myOH/rest/items does not show the Alexa tags, so of course the App not going to find it, nor show up my n CloudWatch.
Are there def no other prerequisites that I need?
Running out of things to look at before I say Alexa wins and wait for an official release...

[2018-05-24 20:15] Clifford-Foster commented on #54
2.3 is definitely required.  In the ReadMe it says

Version 3 of the Alex Skill API introduces a more rich and complex set of features that required a change in how items are configured by using the new metadata feature introduced in openaHAB 2.3 (Currently only available via nightly build).
Version 2 tags are still supported and are converted internally to V3 metadata

[2018-05-25 07:29] blackcatoz commented on #54
Thanks for your support Clifford. Happy to finally have Alexa in control. Yeah, missed that bit. Too focused on the setup section I guess...
For the time being, I’ll stick with the v2 setup using myOH, as I believe running my own instance, either way it’s configured, will break my mobile push notifications. But it is something I do want to do in the future.

Thanks again.

[2018-05-28 23:39] DevNull000 commented on #59
@Clifford-Foster I am completely new to this. Any pointers on how deploy the skill for private use?
Thanks, Alex.

[2018-05-31 01:18] marziman commented on #68
@jsetton & @digitaldan:

Sorry for my late reply. I was quite busy with some stuff for openhab cloud & Google Assistant.
Your proposal is pretty cool on Google Assistant side. We currently use these tags:
- Lighting
- Switchable
- Thermostat
- CurrentTemperature

We are also planning to remove the Tags in favour of using Metadata labels.
So the PR you did might be base for GA also. I might need to

[2018-05-31 15:09] digitaldan commented on #59
Hi all, good news, we finally were approved this morning and are now live in the following languages/regions:

English (UK)
English (US)
English (CA)
English (AU)
English (IN)
French (FR)
German

[2018-05-31 16:49] #59 closed

[2018-05-31 16:50] digitaldan commented on #55
Hi all, good news, we finally were approved this morning and are now live in the following languages/regions:

English (UK)
English (US)
English (CA)
English (AU)
English (IN)
French (FR)
German

[2018-05-31 16:50] #55 closed

[2018-05-31 16:50] jsetton commented on #68
@marziman I tried to keep label names as functional as possible while still having a label for each Alexa functionalities. Looking at the [Google Smart Home Device Traits](https://developers.google.com/actions/smarthome/traits/), I can see that there are currently functionality discrepancies between the two voice assistants.  Based on what you mentioned above, it seems that the current Google Assi

[2018-06-01 02:21] damianpmorris commented on #59
Great stuff @digitaldan. Works well so far. Thanks for making this available in Australia.

[2018-06-01 04:34] menzy81 commented on #55
Amazing work Dan!

From: Dan Cunningham <notifications@github.com>
Sent: Friday, 1 June 2018 2:20 AM
To: openhab/openhab-alexa <openhab-alexa@noreply.github.com>
Cc: Adam Menzel <Adam@almenzel.com>; Comment <comment@noreply.github.com>
Subject: Re: [openhab/openhab-alexa] Openhab-Alexa English (Canada) support (#55)

Hi all, good news, we finally were approved this morning and are now live in the

[2018-06-10 04:10] jsetton commented on #54
@thedolt Base on the overview of the openhab-cloud, I would expect it to be integrated although I unfortunately never setup my own instance. So I can't comment much on this. I would recommend asking/checking the [community forum](https://community.openhab.org) on that topic.

[2018-06-19 15:24] thedannymullen commented on #26
When will the v3 be released so you have an idea?  I ask because I was looking for th is feature and found this request.

The ks!

[2018-07-07 19:17] thedannymullen opened #77 "Change Documentation to site that Item Label is required"
Hello,

I found an issue a few weeks ago.  Once you install openhab cloud connector and connect Alexa.  Alexa will not see devices unless you have an item with a label in quotes.    Please update help document to specifically state that the label is requried and not optional as sited in the items file documentation.  I am happy if you like to fork the document and make the changes, then you can pu

[2018-07-07 19:19] thedannymullen opened #78 "Use item name if label is missing"
Please update skill to use item name if the label is missing.

https://community.openhab.org/t/cant-connect-google-to-myopenhab-cloud/46406/6

[2018-07-20 00:03] broyuken commented on #54
Hey all, been watching this for a while. Any idea when the official release will happen in the Alexa skill store? I’m still using the old one but would love some of these new features. If it’s not gonna be released for a while I’ll do the manual install.

[2018-07-27 13:08] redeye86 opened #81 "Is it possible to implement dynamically scheduled commands?"
Due to the hotness these days, i opened the roller shutters last night to let the house cool down.
I was asking myself if it is possible to spontaneously ask Alexa to "close the roller shutters in 5 hours", so that the house can cool down but the sun won't wake me early when it comes out.

Of course this would be interesting for many other things as well. E.g. "Switch of the lights in 30 Minutes".

[2018-07-27 16:01] jsetton commented on #81
@redeye86 The Alexa Skill API unfortunately doesn't support scheduled or timed requests currently. Hopefully, this is something that Amazon will add in the future. I have seen this topic mentioned in several Alexa-related boards. At this point, this logic would need to be handled on the OH side if possible.

[2018-07-27 22:45] codeaholics commented on #54
I'm also wondering the same thing. It would be awesome to get this live.

[2018-08-23 18:09] lukeIam opened #83 "[V3] Can't discover device if one item in group has no alexa tag"
I'm using the V3-version of the skill (with aws lambda and nginx-tunnel to my openhab instance).
Everything is working fine, but as soon as a add an item without an `{ alexa=... }` tag, the device can not be discovered.

**Works (device can be discovered):**
[code]

**Does not work  (device can't be discovered):**
[code]

Is this a wanted behavior? Is there something like `alexa=Ignore`?
For now I

[2018-08-28 09:51] vivekpratap007 opened #84 "unable to discover devices through the alexa App"
Dear team,
Greetings!
Since I am configuring this Alexa skill with my own Google cloud instance which I have created with below link.
https://github.com/openhab/openhab-cloud/tree/master
I have done the testing using google assistance with my google openhab cloud server ,
but when I am configuring with alexa , facing below issue.
1-for Oauth2 configuration, when i using "login with Amazon" .But af

[2018-08-28 13:39] digitaldan commented on #84
Is your config.json filled out correctly with the hostname of your cloud instance ?  see https://github.com/openhab/openhab-alexa/blob/master/config_sample.js ?  When running the skill, what does the cloud watch logs say when you discover devices?

[2018-09-18 16:02] jsetton commented on #83
@lukeIam Which V3 version are you using? Do you see any errors in the AWS Lambda logs?

[2018-09-18 16:36] jsetton commented on #81
It looks like Amazon recently introduced [scheduling capabilities](https://developer.amazon.com/docs/device-apis/alexa-thermostatcontroller.html#hold-duration-scheduling) for Thermostat control. This is limited to Thermostat capability and duration from current time only. It doesn't resolving this issue but there is hope that Amazon will extend that support to other capabilities along with the abi

[2018-09-26 19:04] CWempe commented on #54
Any news?

[2018-10-07 00:51] dastrix80 commented on #59
Hi All

Im trying to set this up, under AWS Console when configuring the lamba and using 'Sydney' as my location, I cannot see the Alexa Smart Home Trigger unless I set it to oregon.

For Australian users, can anyone explain how to do this?

Thanks

[2018-10-08 18:34] andyzlen opened #86 "Control precision of number values passed to Alexa TTS service"
Number values like temperature provided by thing channels are directly passed to TTS service of Amazon Alexa engine ignoring item configurations like [%.1f %unit%]. Depending on the precision with which the value was passed number values with high precision could end in an output like “The temperature in the children’s room is twenty-three-point-eight-nine-nine-nine-nine-six-one-eight-five-three-z

[2018-10-09 14:54] jsetton commented on #86
So it looks like the state value coming from the OH Rest API is raw. However, the formatting pattern is available in the API response. So that should be an easy change by normalizing an item state returned by the OH Rest API, if a formatting pattern is provided, using the [sprintf.js](https://www.npmjs.com/package/sprintf-js) module.

[code]

[2018-10-09 14:57] digitaldan commented on #86
Sounds reasonable to me, I am hoping to restart development this weekend and get a v3 beta out ASAP, I’ll take a look at this as well unless someone beats me too it.

[2018-10-10 05:52] dastrix80 commented on #54
Hi All

When using V3 with private OH2 cloud, do I need to have my items visible in OH2 Cloud? I cannot see them but all other aspects of OH2 Cloud work just fine.

I also changed the nodejs version in the .env file

Im just setting this up as my Echo 3 arrives this week. I have successfully linked the Skill created with my Alexa App

Thanks

[2018-10-10 22:27] dastrix80 commented on #54
Hi Clifford, I run my own OH2 Cloud instance, can you lend a fellow Aussie a hand to setup V3 with it? :)

[2018-10-16 16:56] lukeIam commented on #83
@jsetton

sorry for the late answer - is there an version tag somewhere in the code? (as far is I can remember I set up the system with the lastest V3 somewhere in July)

[2018-10-16 19:35] digitaldan commented on #83
This is by design, all items need to map to a Alexa type, we don't try and guess what the alxea type is when using V3 tags, so if you have a Number, this could be Alexa.PercentageController or Alexa.BrightnessController, but we can't guess what that would be.  A switch would be easier to guess, but would be inconsistent if this was an exception

[2018-10-17 07:17] dastrix80 opened #93 "Alexa unable to discover devices using OH2 private cloud instance.. Error 401"
Hi All

Im unable to discover the devices. Using the private instance of OpenHab Cloud. Any thoughts?

2018-10-17T07:37:52.458Z 8df75a26-d1df-11e8-9816-534a5dfaf4ac Input:
{
    "header": {
        "namespace": "Alexa.ConnectedHome.Discovery",
        "name": "DiscoverAppliancesRequest",
        "payloadVersion": "2",
        "messageId": "5930161b-3945-4352-a5af-937f851e9727"
    },
    "payload"

[2018-10-17 12:59] digitaldan commented on #93
Do you have the config.js pointed to your cloud?  Did the oauth account linking work?

[2018-10-17 19:35] dastrix80 commented on #93
I found the error digitaldan. It was an NGINX issue, in the local cloud instance. I had to add a location for it inside the nginx config file

Working now.

How is V3 going??

[2018-10-18 18:52] redeye86 opened #95 "Support for new contact and motion sensor API"
It seems that amazon just activated support for contact and motion sensors that can be used in routines. The primary purpose is to let iot devices trigger rules but i think it should also be possible to let openhab send arbitrary status updates to alexa, which in turn can be used to trigger routines.

Essentially this means that two-way communication would be possible without the echo-binding whic

[2018-10-19 12:52] lukeIam commented on #83
Unfortunately, I do not longer have the cloned repo locally (new pc) :/

At the moment I have an other problem with certificate renewal (and no time to fix it) - so I can't test at the moment...

Sure - guessing is not the best idea, but why not ignoring items without tag? Or at least an option to manually ignore items (e.g `Alex.ignore` or `Alexa.nothing`). Then we can reuse the normal OH group e

[2018-10-19 13:06] lukeIam commented on #83
Unfortunately, I do not longer have the local repo clone (new pc)

At the moment I have an problem with certificate renewal (and no time to look after it) - so I can't test.

Sure guessing the right type might not be the best option. But why not ignoring items with out tag.
Or introduce an ignore tag to label an item as not used in the skill?
Otherwise I can't reuse my existing groups and have to

[2018-10-19 13:36] digitaldan commented on #93
coming along, as soon as we submit in some additional countries this week, I would like to start a beta.

[2018-10-19 13:36] #93 closed

[2018-10-20 03:43] jsetton commented on #83
@lukeIam once you resolved your certificate issue, can you also get the latest v3 version and see if you are experiencing this issue? I was unable to replicate on my side unless I am missing something.

For the example you provided above, that you marked as not working, are you saying that the group endpoint is not discovered at all? Maybe if you explicitly mentioned what your expectation is using

[2018-10-25 09:38] giusanny opened #97 "Alexa OpenHAB skill in Italy"
Hi all,
when do you think will the OpenHAB skill be In Italy?

[2018-10-27 14:30] simoneluconi commented on #97
I think it's preatty much ready, here there are the publishing information: https://github.com/openhab/openhab-alexa/blob/master/res/PublishingInformation_it_IT.txt

[2018-10-30 16:04] andrea-daru commented on #97
News about the publication date?

[2018-11-01 17:35] lukeIam commented on #83
yes, it's not discovered at all -> "No devices found"

A (discoverable) device with the name "Fernseher" and if I tell Alexa to turn it on or off the switch "Wohnzimmer_Fernseher_AnAus" should be updated. "Wohnzimmer_Fernseher_Stero_Strom" should be ignored.

From the AWS Log:

[code]

[2018-11-02 07:54] fmeies commented on #83
In ohConnectorV3.js, discoverDevices() we make the assumption, that any member of an "endpoint group" has to have a metadata property. It would be pretty easy to simply skip the ones without a metadata property:

[code]

[2018-11-03 19:08] Chanete commented on #97
Hi, same happens in Spain, last tuesday Alexa was lauched in Spanish and the openhab Skill is not availvable at Alexa.es

Could you please publish it?

Thx!!!

[2018-11-04 10:05] remisoare opened #100 "Alexa skill in Spain"
Hi, when do you think will the skill be available in Spain?

thx!

[2018-11-08 16:31] chrjs commented on #97
I published a private "BETA" for Italy. I can give access to someone interested. Just send me your alexa email account.

[2018-11-08 16:39] andrea-daru commented on #97
Is there a way to send you email in private? 🤣

[2018-11-08 16:51] chrjs commented on #97
@andrea-daru you could enter here, register and open a new ticket:
https://quickbookmarks.zendesk.com/access/unauthenticated?theme=hc
I'll receive the ticket.

[2018-11-08 16:55] andrea-daru commented on #97
@chrjs it doesn't work 😢 Anyway I can connect the email used in github to alexa andrea.daru@gmail.com

[2018-11-08 16:58] chrjs commented on #97
Now should work, sorry is was temporarily disabled. Ok :)

[2018-11-08 20:15] chrjs commented on #97
Unfortunately seems I can't share my private beta. I'm not 100% sure but I think I cannot configure Alexa to authenticate with OAuth2 to OpenHab Cloud because I need some ClientId+Secret to authorize the call. Can someone confirm that OpenHab Cloud does not allow any OAuth2 client but only "certified" ones?

In case it is not possible, we definitely need to wait for an official release or each one

[2018-11-13 15:08] simeonruiz commented on #97
Is there any guidance to create our own beta?
 I would be very interested in this as just bought the echo device to be used for home automation.

Thx!!!

[2018-11-18 07:13] abhitheawesomecoder opened #103 "multi user support"
does it support multi user. Where is the code to get user authentication details and pass it to the server?

[2018-11-22 19:53] galmiklos opened #105 "Is this supposed to still work?"
Hi,

I have just configured and deployed openhab-alexa, but looking at the Alexa.Discovery Interface at https://developer.amazon.com/docs/device-apis/alexa-discovery.html to me it seems openhab-alexa is not compatible with the current API.

I started modifying the code to produce correct headers, but before going any further, I just wanted to make sure if it is not something I am doing wrong. The

[2018-11-22 22:31] galmiklos commented on #105
Well, it was indeed something I was doing wrong, apologies. I cloned the "master" from git, and apparently it does not support api v3, only v2. Needless to say, I created my Alexa Smart Home skill v3... :-/

[2018-11-22 22:31] #105 closed

[2018-12-04 20:17] SamuelBrucksch commented on #40
Too bad it can not be combined. I was really hoping for openhab to control all my devices with this skill on the future.

Isnt there any other way? For example building a custom skill or so? As far as i understand you can add any action to a custom skill as long as you supply an interaction model which holds the commands like change channel or so.

Itsmore complex, i know, but you aldo have more f

[2018-12-04 21:09] igvk commented on #40
Amazon updated their implementation and documentation.
Here is Migration Guide from v2 to v3:
https://developer.amazon.com/docs/smarthome/smart-home-skill-migration-guide.html

[2018-12-04 21:23] SamuelBrucksch commented on #40
So if this project will be migrated to v3 we can also use the media control stuff in the same skill? Or do we still need seperate skills like mentioned in the quote earlier?

[2018-12-05 09:36] SamuelBrucksch commented on #40
I just played around a bit with v3 payload and a smart home custom skill and i have a fake smart socket and a fake smart tv in my fake discovery and both get detected and i can control both, so yes it is possible to control entertainment devices and other devices in the same skill, i can confirm this now.

I just followed this guide:
https://developer.amazon.com/de/docs/smarthome/steps-to-build-a-

[2018-12-06 21:10] SamuelBrucksch commented on #54
Hi,

i'm currently trying to get a Dimmer Light to work.

My Item:
[code]

The Discovery:
[code]

This looks right to me so far.

This json sent from lambda editor as test works:
[code]

However when i say Alexa, dim indirektes licht to 20% nothing happens. I do not even get a log for an incoming request, so it looks like this does not really come in as a directive. Any Ideas what this could be?

[2018-12-07 13:21] SamuelBrucksch commented on #105
Check branch v3, it already has the v3 implementation

[2018-12-07 13:28] SamuelBrucksch opened #107 "maintainer not working on this anymore?"
Hi,

to me it looks like noone works here actively anymore on answering issues or merging PRs. There are a lot of open PRs related to v3 and the last change on the v3 branch was 7 months ago.

I saw that multiple people did changes and worked on the v3 branch, and as this seems to be the central point where it all comes together, it would be nice, if other people could take over or at least are al

[2018-12-11 14:48] lpghartz commented on #107
I agree, it seems completely abandoned. There's a lot of people doing DIY deployments of it to work around the fact that it hasn't been updated in ages.

I suspect most people who are dinking around with it have just forked it themselves. Given that this is in a project within the openhab repo, there shouldn't need to be any need to create a new repository -- the abandonment of it, in theory, shou

[2018-12-11 15:26] digitaldan commented on #107
Hi guys, it's not abandoned, I just have been pulled off supporting myopenhab work and trying to get our v2 version of this app in all countries.  This skill is next on my list of things to tackle after I do a hardware upgrade to our cloud service (maybe next week).  The v3 branch is the right place for development, we kinda got stuck on async notifications, but for the most part its nearly ready

[2018-12-11 15:31] digitaldan commented on #107
There is not yet, but that would be helpful for sure.

[2018-12-11 15:36] SamuelBrucksch commented on #103
Alexa now can differentiate between users by voice. So if you have multiple accounts on one alexa device, everyone has their own configuration and skills. Also its possible if you have multiple accounts and that feature not enabled if you say 'alexa, switch account'.

So Person 1 for example can install openhab skill and then discover devices and rename them and do whatever.
Person 2 can do the sa

[2018-12-11 15:40] SamuelBrucksch commented on #107
Ok if you find anything i could help with just tell me, in the meantime i will test with my self deployed v3 skill.

[2018-12-20 20:26] pahofmann opened #108 "[V3] Lambda timeouts"
I've setup the V3 branch to use with my locally installed openhab 2.4 which is available to the outside via a reverse proxy with basic auth.
Setup was smooth, but the app does not discover any devices.
Looking at cloudwatch I see that the lambda function always times out:
[code]
If I can provide more information for torubleshooting just let me know.

[2018-12-23 19:58] lblabr commented on #103
i´m very new to alexa in combination with openhab. i can switch on and off the tv set, may be in future wlan for my sons mobile devices. I would like to say "WLAN SON off" how to do this. My son should not be able to switch it on afterwards. for sure he sould be able to turn on and off the light or change the volume on tv....

[2019-01-08 08:06] mebe1012 commented on #40
@SamuelBrucksch is this still working for you? Till the day before yesterday I had no problems at all with the V3 branch, but since then I am experiencing the problem, that the PlaybackController is not working anymore for my category="TV" item.  Alexa is always responding that "no enabled Video Skill with such functionality" could be found.

[2019-01-08 08:13] SamuelBrucksch commented on #40
I did not try it in the last few days. Will check this evening and let you know if i can find the time.

[2019-01-08 09:22] giusanny commented on #97
Hi, any news on this? How can we help to get it?

[2019-01-09 16:39] mebe1012 commented on #40
@SamuelBrucksch like most of the time, it was an user error = my fault. Sorry for the noise and thanks for responding! Cheers

[2019-01-20 19:56] smhgit opened #111 "[V3] Add security panel controller support"
[SecurityPanelController](https://developer.amazon.com/docs/device-apis/alexa-securitypanelcontroller.html)

[2019-01-25 02:40] dastrix80 opened #112 "Whilst uploading the node-lambda deploy function it tells you nodejs4.3 is no longer supported"
for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs8.10) while creating or updating functions.

In my .env file I have nodejs set to 4.x

Can anyone tell me how to resolve this?

Thanks

[2019-01-25 02:56] dastrix80 commented on #112
FYI, if i uncomment the nodejs 6 and comment out version 4, it uploads. Then I edit the Lambda in the console and change it back to Version 4. This appears to work fine.

However after ALL of this, I'm unable to discover any devices.

[2019-01-28 23:08] kaikreuzer commented on #97
It has been published today! 🎉

[2019-01-28 23:08] #97 closed

[2019-01-28 23:08] kaikreuzer commented on #100
It has been published today! 🎉

[2019-01-28 23:08] #100 closed

[2019-02-01 16:11] redbeardmcg opened #113 "Cannot read property 'namespace' of undefined at exports.handler"
I'm able to perform account linking from both the main and v3 branch, but only if the skill is set to v2. From the v3 branch with the skill set to v3 linking fails with the following message:

`TypeError: Cannot read property 'namespace' of undefined at exports.handler (/var/task/index.js:21:26)`

It appears during linking the header property is stuck under "directive":

[code]

Should these event

[2019-02-02 23:42] digitaldan commented on #113
It looks like you have v2 still deployed to your lambda, can you check if v3 is really deployed?  If you look at line 21 in index.js in v3 that does not match up to that log line.

[2019-02-02 23:42] #113 closed

[2019-02-02 23:43] digitaldan commented on #111
Agreed, that would be cool

[2019-02-02 23:44] digitaldan commented on #108
It seems as if you are not actually hitting the rest URL of your server, did you change this in the config.js?

[2019-02-02 23:45] digitaldan commented on #107
So now that we are in all countries with v2 I am ramping up v3 development, I plan to move the v3 branch to master after a few tweaks.

[2019-02-02 23:46] #103 closed

[2019-02-02 23:46] #107 closed

[2019-02-02 23:49] #84 closed

[2019-02-02 23:54] digitaldan commented on #83
thanks @fmeies  for the fix.

[2019-02-02 23:57] digitaldan commented on #81
I'm going to close for now since there is not a way of doing this, thanks.

[2019-02-02 23:57] #81 closed

[2019-02-02 23:59] digitaldan commented on #78
I don't think this is something we will support, labels are required the skill

[2019-02-02 23:59] #78 closed

[2019-02-02 23:59] #77 closed

[2019-02-03 00:00] #68 closed

[2019-02-03 00:01] #31 closed

[2019-02-03 00:01] #41 closed

[2019-02-03 00:54] digitaldan commented on #112
your env file should have something like `AWS_RUNTIME=nodejs6.10` in it.   As for not discovering devices,  i would need a lot more info on that with console logs from cloudwatch.  Feel free to open another issues for that if you are still having issues. thanks.

[2019-02-03 00:57] #112 closed

[2019-02-03 00:58] digitaldan commented on #70
I believe this is fixed in v3 , closing for now

[2019-02-03 00:58] #70 closed

[2019-02-03 01:01] #39 closed

[2019-02-03 01:36] digitaldan commented on #83
Then i was a bit hasty in the fix, I'll reopen and take a look. Feel free to open a PR as well.  Thanks!

[2019-02-03 01:40] jsetton commented on #83
No worries. I actually had plans to do some more work based on our discussion in November. I will try to submit PRs this week.

[2019-02-03 18:10] pahofmann commented on #108
Yes, I set if to the correct URL in the config.js

[2019-02-03 19:03] digitaldan opened #119 "[v3] Thermostat setpoint range"
According to the docs:
[code]
and also

[code]

This means only the `targetTemperature` is sent when using voice, not the `upperSetpoint` or `lowerSetpoint` values.  I know other thermostat manufactures (like ecobee) will set a comfort range on the upper and lower setpoints , usally 3 degrees F. I think this would be very helpful if a user does not supply a `targetSetpoint` and only upper and lowe

[2019-02-03 19:05] digitaldan commented on #83
Awesome.  FYI,  I am going to focus on getting v3 out the door, so I am planning on being much more active from here on out.

[2019-02-08 05:43] #119 closed

[2019-02-08 05:50] digitaldan commented on #108
There could be many reasons why this is not working, but with out a whole lot more info I don't know how to help.  The rest requests the lambda makes are standard node http requests, no magic there, I would add a few console.log statements to rest.js and see what URL it is trying to request.  Also look out for things like valid SSL certs (if using ssl) and that DNS and ports are correct.

[2019-02-10 04:14] digitaldan opened #123 "[v3] Beta"
We now have the V3 version of the sill deployed in a "Beta Test" through Amazon.  This will allow us to have a small group of users upgrade early to the new skill and provide feedback.

I want to use this issue to coordinate updates and communicate to users who have access to the beta.

When opening issues against the beta, please prefix "[v3-beta]" in the issue title.  Include as much information

[2019-02-10 04:42] digitaldan commented on #54
Hi all, i am going to close this in favor of #123  , if you are interested in beta testing the skill , leave a comment over there and we can coordinate.

[2019-02-10 04:42] #54 closed

[2019-02-10 07:10] SamuelBrucksch commented on #123
Hi, i want to test. How can i participate?

[2019-02-10 09:33] codeaholics commented on #123
Yes please!

[2019-02-10 10:16] PheiPheiPhei commented on #123
I'd love to participate. I'm in Germany, if that makes any difference.

[2019-02-10 13:41] mgeramb commented on #123
I am also very intested joining the beta test!

[2019-02-10 13:46] mgeramb commented on #49
You can use the amzonechocontrol binding for this. The latest beta version support SSML too.

[2019-02-10 16:24] Flole998 commented on #123
Same here, I'd also love to join!

[2019-02-10 17:26] digitaldan commented on #123
Thanks everyone!!! Can you send me your email (and github username in the email) to  apps@openhabfoundation.org  ?

[2019-02-10 18:07] digitaldan commented on #123
As I mentioned in the description, would be great if people joining the Beta would test their existing V2 configuration first, and if that works, then move to using the V3 syntax and new features.

[2019-02-10 22:13] codeaholics commented on #123
I've installed the new skill and it found all my devices just fine. I particularly like that Alexa can now query the status (in fact, this is the thing I was most looking forward to with the V3 skill). Seems to work well. I'll keep playing with it for a while.

I haven't tried the new tagging yet.

[2019-02-10 23:24] digitaldan commented on #123
@codeaholics so you were using the v2 item tags and everything is working as expected?

[2019-02-10 23:29] codeaholics commented on #123
Correct. That said, I don’t have loads of devices right now. Mostly switches configured as “Lighting” and dimmers. I’ll likely be getting Hue soon for some lights in our conservatory. Considering setting them up via OH, so that would allow me to test colours.

[2019-02-10 23:32] codeaholics commented on #123
Having said that... I can see that lights are on or off in the Alexa app now, but when I ask her "is [...] on?" she says "[...] doesn't support that".

[2019-02-11 04:10] Flole998 commented on #123
@codeaholics Same thing here, I assume that is because the skill doesn't have retrievable set and doesn't support reportState request (yet).

@digitaldan Should we report here or open new issues for all bugs/missing features we find?

[2019-02-11 04:13] digitaldan commented on #123
Feel free to open a bug , I think we are advertise we support reporte state , so not sure why Alexa thinks we don’t

[2019-02-11 04:17] Flole998 commented on #123
Also another thing that happened to me (I don't know if this is because of the beta version though): Alexa re-discovered all things and I had to delete them from the rooms and add them again in order to say "Alexa, light on", otherwise it would just respond that the skill is currently disabled. This might be because of the beta but I am not sure and this would definitely be annoying if this happen

[2019-02-11 04:21] Flole998 opened #124 "[v3] Unable to ask for current state"
When asking German Alexa about the state of a lamp/lock/Mediaplayer I get "sorry, the device doesn't support that". I think this is because we don't have retrievable set, I did a quick search through the repo and couldn't find it. Also I couldn't find reportState which would be a requirement for that. I've only done a quick search using the github search function though, it might just not find it.

[2019-02-11 04:39] Flole998 opened #125 "[v3] Attaching Door/Lock to Rollershutter responds with not supported"
I was trying to make Alexa capable of controlling my Garage door by adding the Lockcontroller.lockstate interface to my Rollershutter item, without setting a category it just shows up in jammed state and when I try to send commands it tells me that it's not supported. When i set category="DOOR" I am unable to control it or see a status at all (probably it's not supported, at least not in my langua

[2019-02-11 04:51] jsetton commented on #124
Looking at the lambda logs, there is no directive received for these requests.

It's not 100% clear in the [API document](https://developer.amazon.com/docs/smarthome/state-reporting-for-a-smart-home-skill.html) but I suspect that requesting for a device status by voice requires Alexa to already know its current status through proactive change reporting which is not currently supported by the skill

[2019-02-11 05:01] Flole998 opened #126 "[v3] "Device doesn't respond" message in App"
When accessing the device list in the App, I see a few devices as offline. Clicking on them makes it retrieve the status and show it correctly and allows control. Is it maybe because I have lots of items? I'll load the device list right after submitting this post so you can check the logs. This is using German Alexa.

[2019-02-11 05:06] Flole998 commented on #124
I'll try to take care of clarifying this

[2019-02-11 05:12] jsetton commented on #125
`LockController.lockState` can only be mapped to a switch item. It is expecting either ON or OFF state and will default to jammed state if neither are found.

You can refer to the [documentation](https://github.com/openhab/openhab-alexa/tree/v3#supported-item-mapping-metadata).

[2019-02-11 05:15] Flole998 commented on #125
Can this be changed in order to support Garagedoors that report a percentage? Or maybe someone wants to Pin protect rollershutters, thats where this could be useful aswell.

[2019-02-11 05:19] jsetton commented on #124
No need. The confusion is not with what you reported but more how Alexa is supporting this feature. Anyway, this is expected behavior with the current skill version. We will need to revisit this once the skill supports proactive change reporting.

[2019-02-11 05:23] Flole998 commented on #124
Already have the answer: Querying by voice is not supported for every endpoint. Only Thermostats and locks Support it at the moment

[2019-02-11 05:24] digitaldan commented on #126
We don't report the state of items proactively, so the app needs to query the item state.

[2019-02-11 05:26] jsetton commented on #125
You can always handle this on the OH side by using a virtual switch to interact with your rollershutter item.

[2019-02-11 05:28] Flole998 commented on #126
I have checked what's different with those items and those are the ones with null as state, that makes them appear as unreachable.

[2019-02-11 05:33] Flole998 commented on #125
Yes of course that would be possible, it would be easier though to allow directly connecting a lock to a rollershutter (or is there anything preventing that). Especially when talking about lot's of items adding virtual switches makes it all more complicated than it has to be. If there's no way to allow this in the skill it's of course different, but if it's just not implemented yet we should keep

[2019-02-11 05:45] digitaldan commented on #125
I'm ok to keep this open, but i do want to stress that our beta testing should be focused on making sure the basic API set is working correctly.  Locks are a ON or OFF state, roller shutters do not support such a state (unlike say a dimmer) , so for the time being I would put off corner cases like this until we have a stable release out.

[2019-02-11 05:45] digitaldan commented on #124
so should this issue be closed?

[2019-02-11 05:51] Flole998 commented on #124
Yes most likely, or at least rephrased to "update documentation to make clear only locks and thermostats can be queried by voice" and that it's a limit at Amazon so it's clear for everyone what's going on and why it won't work like probably most people expect it to.

[2019-02-11 05:54] Flole998 commented on #124
Actually right now the documentation says "You can ask Alexa to turn "Light Switch" on or off as well as ask for its current state." so this should definitely be changed.

[2019-02-11 05:56] digitaldan commented on #124
Yep , you are correct, lets keep this open so we can update the readme

[2019-02-11 14:43] cubistico opened #127 "(German) Grammatical problem increasing/decreasing temperature by 1 degree"
This applies to using Alexa in German.

The command does not work:
"Alexa, erhöhe die Temperatur von Wohnzimmer um ein Grad"
Alexa replies:
"Dieser Befehl funktioniert für das Gerät Wohnzimmer nicht"

However, this works:
"Alexa, erhöhe die Temperatur von Wohnzimmer um **eins** Grad"

Obviously, the word "ein" is not accepted as a number, only "eins" is, but that's not natural language. Same effec

[2019-02-11 15:40] Flole998 opened #128 "[v3] Readme contains config with syntax error"
The " at the end has no matching opening ". When using numbers it shouldn't be there at all I think,only strings need  that.

[2019-02-11 15:50] Flole998 commented on #126
Unfortunately I need to re-open this. It is happening even with devices that have a proper status and karaf is full of these messages:

16:43:53.017 [WARN ] [rthome.io.rest.internal.DTOMapperImpl] - Field 'editable' could not be eliminated: Can not set boolean field org.eclipse.smarthome.io.rest.core.item.EnrichedItemDTO.editable to null value
16:43:53.018 [WARN ] [rthome.io.rest.internal.DTOMappe

[2019-02-11 17:13] digitaldan commented on #126
I have seen those errors too, I’ll take a look and see what’s going on.

On Mon, Feb 11, 2019 at 7:50 AM Flole998 <notifications@github.com> wrote:

--
Sent from my mobile.

[2019-02-11 17:49] Flole998 commented on #127
Not a bug in the skill, you should submit this issue report to amazon directly as they take care of all the processing and especially the voice recognition.

I just checked and I am having the same issue and will report it aswell.

[2019-02-11 17:57] cubistico commented on #127
Thanks. Could you provide a link where I can report the issue?

[2019-02-11 18:04] Flole998 commented on #127
That would be here:  https://www.amazon.de/gp/help/customer/contact-us/

Click on devices, select an Echo device, then choose "Alexa Voice Services" and in the next Menu "Smart Home". You can either contact them by phone or by chat. If you could give me a little update on what the response was I'll appreciate it. Depending on what they say I can try to directly forward it to the appropriate develo

[2019-02-11 23:34] codeaholics commented on #123
Yes, I had that too

[2019-02-12 01:19] digitaldan commented on #123
FYi, I am off skiing this week, so I may be erratic in responding, timing is not great i know :-)

[2019-02-12 05:30] digitaldan commented on #127
Can this issue be closed?

[2019-02-12 05:30] digitaldan commented on #21
Implemented in V3

[2019-02-12 05:30] #21 closed

[2019-02-12 05:31] digitaldan commented on #26
Implemented in v3 (in beta testing now)

[2019-02-12 05:31] #26 closed

[2019-02-12 05:42] digitaldan commented on #40
the v3 skill implements the  added entertainment functions, closing.

[2019-02-12 05:42] #40 closed

[2019-02-12 05:45] #56 closed

[2019-02-12 05:48] #128 closed

[2019-02-12 05:51] SamuelBrucksch commented on #123
Looks like i did not get an invitation... its the mail of my wife because that is connected to alexa. do you get a mail or is the skill active directly?

[2019-02-12 10:03] cubistico commented on #127
They advised me to provide feedback in the Alexa app > Preferences > Alexa account, then select the problem command. Answer the question "Did Alexa do what you wanted" with "No". However, it's not possible to add any detail information from there.

Additionally, the support staff told me they will forward the report to their developers and keep me updated about the progress.

Well, it's still an i

[2019-02-12 10:43] cubistico opened #130 "Set temperature rounded (up) in confirmation reply after adjusting it"
I have setup my Max! thermostats for control via Alexa, and it works quite well, but I have a strange rounding effect that I don’t know how to get rid of:

I say, "Alexa, set living room temperature to 21.5 degrees".
Alexa replies, "Automatic mode is set to 22 degrees".
However, the thermostat is in fact set to 21.5 degrees (as expected).
Now when I ask, "Alexa, what is the living room temperature

[2019-02-12 14:50] digitaldan commented on #130
Can you post all the items in your thermostat group please ?

[2019-02-12 14:52] digitaldan commented on #127
I’ll close it Since this is not something we can fix, and not something we can workaround

[2019-02-12 14:52] #127 closed

[2019-02-12 15:00] cubistico commented on #130
I have 10 thermostat groups, but they are all setup in the same manner as this one:
[code]
My first thought was a configuration problem on my side, but since when just asking for the current set temperature, the reply is correct, I can't imagine how. Both commands refer to the same Item, but return different values.

Oh, btw, this happens only when the set temperature is at *.5 degrees – so no pro

[2019-02-12 15:03] digitaldan commented on #123
@SamuelBrucksch did you send me a email so I can add you to the list ?  I can’t seem to find it. Send me your wife’s email ( and your github username so I know who you are to ) apps@openhabfoundation.org

[2019-02-12 15:25] SamuelBrucksch commented on #123
Looks like my mail was not sent... Will do it again.

[2019-02-12 17:17] mgeramb commented on #123
I'am running the beta version now since two days with the old tagging without any problems. It was not necessary to change anything in the configuration. The devices are remained assigned in the  groups.  I have Lighting and CurrentTemperature tags in use. Getting and setting values through the alexa app works fine, including to see state changed immediately in the alexa app if the device is open.

[2019-02-13 05:36] digitaldan commented on #130
Can you post the exact time, timezone and country you are in when you were tying this please.

[2019-02-13 05:53] digitaldan commented on #130
sorry, i think i confused myself.  You are are reporting this against our current released version and not our beta V3 version, correct?   In which case ignore my request above about time and timezone. I'm not sure why thats happening, but I will want to wait until our new version is deployed I think to validate if this is still an issue.

[2019-02-13 06:02] #124 closed

[2019-02-13 06:06] digitaldan commented on #30
This is implemented in the upcoming v3 skill, closing.
https://github.com/openhab/openhab-alexa/blob/v3/ohConnectorV3.js#L522

[2019-02-13 06:07] #30 closed

[2019-02-13 06:08] digitaldan commented on #49
I am going to close this as the amzonechocontrol button implements this

[2019-02-13 07:08] SamuelBrucksch commented on #123
Hi, i got this message:

[code]

Looks like your mail is somehow on the spamlist of my provider...

[2019-02-13 10:03] cubistico commented on #130
Okay. I've applied for the v3 beta, but haven't got an invite yet, so can't test it.

[2019-02-13 16:51] digitaldan commented on #123
Hmm, google/gmail seems to be rejecting that, since my personal email is also google hosted, PM me on community.openhab.org , my username is digitaldan

[2019-02-13 16:54] digitaldan commented on #130
Let me know if this is still the case with v3, and if so what item name, time, timezone and location so I can easily find it in the logs.

[2019-02-13 17:05] digitaldan commented on #83
@jsetton Do you have time for a PR or would you like me to work on this?

[2019-02-13 17:08] jsetton commented on #83
I do. Sorry I have been working on other projects. I am also trying to extract some of the enhancements I made in my last PR which aren't related to the async implementation. That's why it is taking more time. Anyway, I will try to get you something by tomorrow.

[2019-02-13 17:09] digitaldan commented on #83
No worries, thanks!

[2019-02-13 17:11] cubistico commented on #130
I can confirm that the problem described in this issue is gone with v3. However, the confirmation reply changed in a way, so it does not tell me which control mode the thermostat is currently set to. I assume this was changed on purpose?

However, I am having otherwise big troubles with v3. Although I can set the temperature of my thermostat, it's not possible to query anything from it like set or

[2019-02-13 17:15] digitaldan commented on #130
No, we report back what the thermostat reports and the Alexa service decides what to say back to you.

I will take a look at the responses since i assume they are around now, but in the future can you please add item name, time, timezone and location so I can easily find it in the logs.  There are a lot of logs and it saves me time to not have to search through them all.

[2019-02-13 17:19] digitaldan commented on #130
If you look at the response below, you will notice that the "thermostatMode" object is missing a value, I'm not sure why yet.

[code]

[2019-02-13 17:26] cubistico commented on #130
From the setpoint value, this looks like one of the devices that I cannot control any more, because Alexa says there's no reaction. Once more with item name, time, timezone and location of the one I'm playing with:
gOfficeThermostat, 18:26 CET, DE

[2019-02-13 17:30] cubistico commented on #130
Any hint why all devices are non-reactive in the Alex app? When I select any device, the app gets stuck on "Waiting for openHAB". But on myopenhab.org, everything looks okay, and I can access my openHAB from there.

[2019-02-13 17:55] digitaldan commented on #130
So the MAX thermostat modes are translating correctly to Alexa, and this may be causing response issues. In v3 Alexa is much more sensitive to response values.  I will look into this a bit more

[2019-02-13 18:28] cubistico commented on #130
Sorry, I don't get it. Translating correctly causes issues? Translating what? Is this a typo?

[2019-02-13 20:39] digitaldan commented on #130
No, it not a typo
https://github.com/openhab/openhab-alexa/blob/v3/utils.js#L26

[2019-02-13 21:31] digitaldan commented on #130
So it looks like MAX!  thermostat modes are:
`AUTOMATIC/MANUAL/BOOST/VACATION `
where Alexa v3 modes are:
`AUOT/COOL/HEAT/ECO/OFF`

I don't see how we map MAX! to Alexa, so I would remove the `["homekit:HeatingCoolingMode"]` tag from the mode so Alexa does not pick it up,  and then run the discovery process again.  You may need to delete the thermostat first through the Alexa app and run discovery

[2019-02-13 22:29] cubistico commented on #130
This is really amazing, because I could swear that Alexa even knew about control mode MANUAL which doesn't even exist in you list?!

[2019-02-13 22:42] cubistico commented on #130
It was. You edited in the "not" afterwards! Argh! :-)

[2019-02-13 23:54] digitaldan commented on #130
Yes, I did edit it seconds after i posted, but i did not realize that was what was confusing you.

I'm not sure it is, v2 only supported 3 modes ,  AUTO, COOL, HEAT, (no OFF)  and I believe at one point they allowed you to report arbitrary values, but then deprecated that.  Since there was no mode control, i don't think they cared much about the response, but now that it is designed for both comma

[2019-02-14 11:23] cubistico commented on #130
After reverting back to the public release version, I can report the following behaviour:

- If a thermostat is set to automatic mode, Alexa replies, "Automatic mode is set to 21 degrees"
- If a thermostat is set to manual mode, Alexa replies, "Manual is set to 21 degrees"
Obviously, Alexa recognizes the AUTOMATIC mode, and for the other modes, Alexa just uses the word as provided by the device. A

[2019-02-14 13:49] cubistico commented on #130
I've been able to solve the connections problems by deactivating the skill, deleting all devices and groups from Alexa, reactivating the skill, and rediscovering all devices. Somewhere I had read that the v3 skill would migrate my devices to v3 somehow – was that a misunderstanding on my side? Is it generally required to delete and rediscover all devices?

[2019-02-14 14:15] cubistico commented on #130
Looking at https://github.com/openhab/openhab-alexa/blob/faf78bdf61b427bc1d48dc06128166ed25101863/utils.js#L50-L69 I suppose this tries to map the mode, but if that's not possible, it returns it unmapped value. While in the v3 code, a mode value that cannot be mapped gets lost.

I would prefer to keep the old behaviour.

[2019-02-14 15:40] digitaldan commented on #130
Yes, this is where we would send the arbitrary value since at the time it was written Alexa allowed un-mapped values.  They deprecated that feature in their docs, but we never changed our code to enforce it.

We can try, but according to the docs will not work, but I guess if it kept working in v2, maybe it will work in v3.  I'll make the change and let you know when its up.

[2019-02-14 16:01] digitaldan commented on #130
Ok, i have deployed a version which will pass the original result if a mapping is not found. Make sure to give me the item name and time when you test so i can take a look at the logs

[2019-02-14 16:17] digitaldan commented on #123
So its been pretty quiet around here, not sure if thats a good thing or not :-)  Let me know how the skill is working so far, if all is well then I will start advertising the beta on our community site.

[2019-02-14 17:16] digitaldan commented on #130
Glad to hear that devices are working.  When we launch this out of beta, it should be transparent to users, unfortunately it seems the Alexa beta program treats the beta version as a second skill. In any case, do you have a item name (non thermostat) and approximate time of a device that was not working until you deleted it?  I want to see if there are any logs around it.  Thanks.

[2019-02-14 17:22] cubistico commented on #130
Thanks for the explanation.
I'm afraid I don't have anything I can give you. I played mostly with the thermostats. Other than that, I have only a few hue lights set up for Alexa yet.
I would like to use v3 with my other account, but I found out that it's not as easy as I thought to use multiple profiles on an Echo device. I will try and reset one of my devices to configure the other Amazon account

[2019-02-14 17:27] Flole998 commented on #123
Right now I am getting "The device doesn't respond" message when I am trying to do something using Alexa, on myopenhab.org it says Online though, not sure what is causing this.

[2019-02-14 17:29] digitaldan commented on #123
@Flole998 can you give me the item name, time, timezone and location for one of the devices that is not responding?

[2019-02-14 17:30] digitaldan commented on #123
@Flole998 wait, I deployed a bad config file, one sec !!!

[2019-02-14 17:34] Flole998 commented on #123
Working now again, thanks!

[2019-02-14 17:35] digitaldan commented on #123
Yep, sorry about that.

[2019-02-14 17:38] digitaldan commented on #130
This should not be a problem, you can link as many Alexa accounts to a single myopenhab account as you wish.

Let me know how the thermostat mode reports now, i have not committed my changes yet, i want to wait to see if it works

[2019-02-14 17:44] Flole998 commented on #123
No problem, this is still beta so everyone knows that something like this can happen at any time :)

To get comment on this:

I think we should find out what's going on in #126 first, especially since this "spams" the karaf console (and by that also the log files) and produces high load on your servers aswell most likely (to pass through a bunch of requests per second).

[2019-02-14 17:51] cubistico commented on #130
I'll do it as soon as possible, but it may take 1 or 2 days.

[2019-02-14 18:10] jmccoy555 commented on #123
I've just deployed to AWS and all appears to be working with v2 tagging. Will try and get some v3 tagging done to test that out too.

Just a note that some of the terminology in the Create and Deploy Lambda app section of the Readme doesn't quite match the Lambda function set up anymore. If you've not done it before it may be a bit confusing, it was for me a few years ago the first time I did this

[2019-02-14 18:27] digitaldan commented on #126
Hmm...
https://community.openhab.org/t/field-editable-is-required-when-getting-items-on-the-rest-api/65094/4

[2019-02-14 18:39] digitaldan commented on #126
I have deployed a fix for those messages in the OH log, hopefully that does it.

[2019-02-14 18:41] Flole998 commented on #126
Yes that fixed it, also no more unreachable devices in the App. Thanks!

[2019-02-14 18:41] #126 closed

[2019-02-15 07:48] SamuelBrucksch commented on #123
Unfortunately we did not get a mail or we missed it or whatever, guess i'll just wait until v3 is public then...

[2019-02-15 16:13] cubistico commented on #130
I've made  a few tests with Item group gOfficeThermostat between 17:00 and 17:02 CET, region DE.

Asked for the current set temperature, Alexa replies
* "Automatic mode is set to 21 degrees" when mode is AUTOMATIC
* "_device_name_ is set to 19 degrees" when mode is MANUAL

It seems the unknown mode value is either not received or simply dropped by Alexa.

Trying to set the mode (around 17:08-17:10

[2019-02-15 21:24] digitaldan commented on #123
@SamuelBrucksch I added the email which you sent to me, is this the same you use for your Amazon account?  If not, please send me that one.

[2019-02-15 22:30] SamuelBrucksch commented on #123
Yes its the one, no hurry i can wait as long as i know it will eventually come.

[2019-02-16 00:27] digitaldan commented on #130
So it sounds like Alexa will repeat what we send back, the rest of the what you posted is expected.

No need, I have added the ability for a user to specify what supported modes should be discovered, see #133

[2019-02-16 00:27] #130 closed

[2019-02-16 03:53] jsetton commented on #83
Sorry for the delay. I finally got around to submitting that one.

[2019-02-16 14:34] jmccoy555 commented on #123
Hi @digitaldan I've done some v3 testing, thermostat is working great, but speaker volume has me stumped. Does this look right, Alexa just says Bathroom Volume doesn't support that (although I'm not quite sure what I am meant to be telling her to do!!);

`Dimmer BathroomSqueezeVolume            "Bathroom Volume [%.1f %%]"          <soundvolume>                                 { channel="squeezebox

[2019-02-16 16:34] digitaldan commented on #123
@jmccoy555 its not woking for me either and I can't figure out why, I'll keep looking today.

[2019-02-16 18:55] scott-vincent commented on #123
Thanks for access to v3. It discovered all my devices again so I had 24 instead of 12 !
If anybody else does this just go through and "forget" all the offline devices. You will have to setup your Groups again though as all the devices are new again.

Going to try and set up a TV device that can change channel.

[2019-02-16 21:34] jsetton opened #139 "[V3] Migration Duplicate Discovered Items"
Based on various users feedback, after migrating to the v3 beta skill, duplicate discovered items are showing under their account with seemingly the previous items showing as offline. Additionally, newly discovered items have to be readded to groups.

This could be done by design, based on the API version change from v2 to v3, as the newly discovered items most likely have different ids under the

[2019-02-16 21:52] jsetton commented on #123
@jmccoy555 I just tried speaker volume and I had no issue. I initially thought that it could have been because you setup it by itself opposed of using a speaker group endpoint. Your configuration is fine so it might be just the way you asked 😄 I would also change the label name not to include "volume" as it may be confusing although this is the reason why using a group endpoint makes it easier.

"

[2019-02-16 22:16] codeaholics commented on #123
I didn’t end up with duplicate devices. Mine just worked as simple devices. But when I tried to use them as part of an Alexa group (not an OH group), I had to remove them from the group and re-add them.

[2019-02-16 23:14] digitaldan commented on #123
@jsetton you are correct about the stereo issue, you have to say it just the right way (as you stated), Alexa is not too smart about variations on it.  @jmccoy555 you might be able to play with adding "PercentageController.percentage" as well to the item, it might help make it respond to "Alexa, set Bathroom speaker to 32 percent", but i have not tried it yet

[2019-02-16 23:20] jmccoy555 commented on #123
@jsetton @digitaldan it does work thanks!! Although I think I need to learn the language of Alexa... that doesn't feel very natural to me.

So if I set an end point for the location name, lets go with Bathroom Speaker, and then just name the items with the function, like "volume", "player" I should be able to

_"Increase the volume on Bathroom Speaker"
"Play on Bathroom Speaker"
"Next on Bathroom

[2019-02-16 23:49] gdgeist commented on #49
@digitaldan @mgeramb   I use and love the amazonechocontrol binding but there were two parts of this request that the post was driving at - the Notificiation Service has visual and audible elements.  Unless I missed something neither the Alexa openhab Skill or AmazonEchoControl Binding offer this currently.   Should this post have been directed to that repo instead of closed?

[2019-02-16 23:52] jsetton commented on #123
@jmccoy555 you can find some utterance examples related to the player capability on this [page](https://developer.amazon.com/docs/device-apis/alexa-playbackcontroller.html).

Keep in mind of the context-awareness feature; so you should only need to mention the device name on the first request and any subsequent commands would be determined to be on that device as well. This is why using group endp

[2019-02-17 00:03] digitaldan commented on #123
@jsetton beat me to it, but here was what i was going to say :-)

actually no, Bathroom speaker should be a group in this case, its label "Bathroom speaker" is the only addressable name.  Any items that are part of this group and tagged for alexa will have their label ignored.  But they do represent "capabilities" for that name.  So if you say "Alexa, set Bathroom speaker to 32 percent", Alexa wil

[2019-02-17 00:04] gdgeist opened #140 "AVS Notification Support"
AVS service allows Notifications.  While audible notifications through the speech channel or amazonechocontrol binding are available - visual notifications in line with what the Amazon Echo ecosystem offers simplifies a path to visual notifications.  ESP/Arduino  MQTT based homegrown solutions aside most with this binding active would use this feature.

[2019-02-17 00:34] digitaldan commented on #140
This is a Duplicate of #49 .  If we want to re-open that, then that's ok, but let's not create another issue.

[2019-02-17 00:34] #140 closed

[2019-02-17 00:35] digitaldan commented on #49
I will re-open this issue,  and if someone would like to help contribute this feature,  then that would be great.

[2019-02-17 04:54] jsetton commented on #86
I just submitted a PR implementing this feature based on the [item state presentation](https://www.openhab.org/docs/configuration/items.html#state-presentation) format.

[2019-02-17 05:12] jsetton commented on #49
Keep in mind that this feature is actually still not available to the public yet. It is currently in [extended developer preview](https://developer.amazon.com/blogs/alexa/post/833b9af4-26e6-47d2-a13d-bdbd9a257512/expanded-developer-preview-of-notifications-for-alexa-skills).

[2019-02-17 07:05] scott-vincent commented on #123
I was also going to comment on the speaker example as I was slightly confused by it too. I think this would be a better example:
[code]
Notice I've changed the example from a speaker to a tv with Endpoint.TV. I think this better represents what the sample is and one huge advantage of doing this (for me) was that, if I add different TVs to Alexa groups I can say "Alexa, turn on the TV" and it will

[2019-02-17 09:37] jmccoy555 commented on #123
Thanks @digitaldan @jsetton  the mud is starting to become a little less murky, and indeed the endpoints look very powerful.

Looks like I've found a job for today, lets get those config files updated.......

One last thing that is on my mind.... is the 'alexa' part of the metadata tag hard coded into the main part of openHAB, or could an alternative be used?

I'm thinking of a sort of filter for

[2019-02-17 16:07] digitaldan opened #142 "[V3] Mode, Range, and Toggle support"
These are US only atm, but looks very cool

https://developer.amazon.com/blogs/alexa/post/2ccbb04d-47c0-41c8-92fe-feb581deb676/understanding-the-updated-smart-home-skill-api-preview

[2019-02-17 16:36] Flole998 commented on #123
As far as I know that is part of the js stuff running on AWS, so if you use your own skill it should work perfectly fine. Also you can rename items in the Alexa App, maybe that would be useful for you aswell.

[2019-02-17 16:54] digitaldan opened #143 "[v3] Remove v2 logic from code"
@jsetton I think we can remove the compatibility layer for v2.  According to the Alexa docs, during the transition to v3,  our v2 lambda will continue to function until users get migrated over.

https://developer.amazon.com/docs/smarthome/smart-home-skill-migration-guide.html#create-a-new-lambda

WDYT?

[2019-02-17 17:09] digitaldan commented on #143
And by compatibility layer i mean removing https://github.com/openhab/openhab-alexa/blob/v3/ohConnectorV2.js (we still support v2 tags of course)

[2019-02-17 17:10] jsetton commented on #143
Actually, you are correct. Based on the blog post below, it seems that having the old v2 lambda function available is just needed for the migration period until all users' devices get updated to point to the new function. It seems that it shouldn't take longer than 24 hours. Anyway, we can certainly remove the v2 code, along with its test cases, from the v3 branch.

https://developer.amazon.com/bl

[2019-02-17 17:17] jsetton commented on #139
According to [this blog post](https://developer.amazon.com/blogs/alexa/post/87c5cf67-1f27-42d3-a07a-e4f559674392/how-to-migrate-your-alexa-skill-to-the-updated-smart-home-skill-api), the device IDs should be consistent during the migration.

So we shouldn't have any duplicates during I presume a standard migration. This issue may just be related to the beta testing skill.

[2019-02-17 17:20] jsetton commented on #143
I can submit a PR if you want. There are some minor cleanup to do in the other files as well.

[2019-02-17 17:37] digitaldan commented on #143
Sounds good, i also have some cleanup work I want to update today.

[2019-02-17 18:07] jmccoy555 commented on #123
That's what I was hoping, but so far I've only managed to break it!!

[2019-02-17 22:25] #143 closed

[2019-02-18 00:34] #86 closed

[2019-02-18 00:34] #83 closed

[2019-02-18 00:35] #108 closed

[2019-02-18 07:47] SamuelBrucksch commented on #123
When i enabled the beta service, i had to remove my old items and search new ones. It did not work with the existing ones. However thermostats and lights still work as before after searching new devices with old notation. Did not change it to the new notation yet, but will do it in the next few days and come back with more feedback.

All in all it seems to be a bit faster, but not sure if its the

[2019-02-19 01:02] #95 closed

[2019-02-19 01:06] digitaldan commented on #111
So i have started thinking about this one, my thoughts so far as sample items would be:

[code]

@jsetton didn't know if you had started working on this, I have a rough sketch out of the capabilities and properties, but not much more at this point.

 For pin support when sending a command, I was thinking we could append the pin to the command if enabled,  so when arming we would send "away:1234" a

[2019-02-19 03:08] jsetton commented on #111
Since you add this one assigned to yourself, I left that one last 😄 I was going to aim to range, toggle and time hold capabilities next.

Your sketch looks good. A couple things to note:

- The group endpoint needs to match the display category. Strange enough, the [main documentation](https://developer.amazon.com/docs/device-apis/alexa-discovery.html#display-categories) that lists all their exist

[2019-02-19 20:08] codeaholics commented on #123
Is the skill down right now? I'm getting "sorry, lounge lights is not responding". I've restarted OH (and subsequently the OH Cloud connector), but no joy. Locally (i.e. via PaperUI, etc.) everything is working fine.

[2019-02-19 22:16] digitaldan commented on #123
[code]
Seems to be a bug, i'll take a look

[2019-02-19 22:29] digitaldan commented on #123
Can you ask alexa to "discover devices" again?  She will say she can't find any, but I'm hoping it fixes the issue under the hood

[2019-02-19 22:31] codeaholics commented on #123
I tried without the discovery - no dice. Did the discovery - no devices found, as you said. Tried again - working. 👍 Thank you.

[2019-02-19 22:33] digitaldan commented on #123
Yep, we made a cookie change and you had the old format still, discovery will always recreate the cookies for those for devices, but i discover my devices so often during development that I upgraded to the new version without realizing it.

[2019-02-20 01:09] jsetton commented on #49
Looks like I spoke too soon. Amazon released, back in December, the ProactiveEvents API which seems to take over the previous solution and gives the ability to send notifications from a skill.

https://developer.amazon.com/blogs/alexa/post/7822f3ee-1735-4eaa-9aa6-5b8e39953c07/proactiveeventsapi-launch-announcement

[2019-02-20 20:42] Flole998 commented on #123
Since yesterday I am getting lots of "I do not know what went wrong" responses from Alexa when I want to switch lights. Just happened again, I'm located in Europe.

[2019-02-20 20:47] digitaldan commented on #123
[code]

@jsetton this is probably related to the report state changes, but it looks like we are reporting here "  "value": "100 %","  when it should be "ON" .

[2019-02-20 20:54] Flole998 commented on #123
Seems like it, when I say she should turn it to 100% or 75% it works perfectly fine, just On and Off are not working.

[2019-02-20 23:03] digitaldan commented on #123
@Flole998 I just pushed out an update which should fix this issue.

[2019-02-20 23:06] Flole998 commented on #123
Yes it does! Thanks! I really love that fixes are pushed out right away and it doesn't take weeks or months to wait for a fixed version! Huge thanks to everyone working on this and making such a fast development and deployment possible!

[2019-02-21 08:07] oeiber opened #155 "[V3] "errorMessage": "Cannot find module 'winston'""
Code runs in AWS region Ireland.

[2019-02-21 14:46] digitaldan commented on #155
You need to run `npm install` to update and install node modules to their latest version.

[2019-02-21 14:46] #155 closed

[2019-02-22 09:57] crazyfx1 commented on #123
What is the timeline for the Alexa V3 skill, when will it be released? I want to try it out aswell, but I won't bother if it's going to be released in the next 2 weeks for example.

[2019-02-22 17:11] mgeramb commented on #123
Hi Dan,
I found now a very strange behavior. There was one lamp in my installation which was not possible anymore to switch with a voice command. I always got an answer "There is no skill available for this device" (Translated from german). But it was listed in the alexa app in the lamp section and it was possible to turn in on and off from this place. So the skill seems to work! But the same lamp

[2019-02-22 17:31] digitaldan commented on #123
Thanks @mgeramb , I wonder if this is a Alexa bug around having both a production skill and non beta skill active.  I was a little disappointed that Alexa treats beta as a separate skill, i'm sure there are technical reasons for that, but it does make testing a bit hard.

[2019-02-22 17:36] jsetton commented on #139
Based on @digitaldan [comment](https://github.com/openhab/openhab-alexa/issues/123#issuecomment-466478778), Alexa considers beta skills as a separate entity. So this seems to confirm the original assumption. We will have to confirm once we deploy V3 to production.

[2019-02-22 17:37] digitaldan commented on #123
@crazyfx1 we are getting close, but I will want to run another round of Beta testing from people on the community forums for a week before we release.  So we are still at least 2 or 3 weeks out.

[2019-02-22 17:57] digitaldan opened #157 "[v3] Globals State Issue"
So i was looking at this:
https://github.com/openhab/openhab-alexa/blob/71e08eba4033226c8068e1ac85708ef8eae97282/ohConnectorV3.js#L25

I'm not sure how isolated lambda requests are, but if this was a regular node app, this would lead to requests overwriting other requests state during concurrent requests.  @jsetton WDYT?

[2019-02-22 18:33] jsetton commented on #157
Based on my understanding, lambda requests are bounded by an execution context and run synchronously in that context. Once a request is completed, that context can be reuse.

I think we would run into an issue if we were relying on that variable to make subsequent updates. But, we are overwriting it on every execution. And if you concern about `directive`, why not `properMap` global variable as we

[2019-02-22 18:34] jsetton commented on #157
Interesting article about lambda caching with global variables.

https://medium.com/tensult/aws-lambda-function-issues-with-global-variables-eb5785d4b876

[2019-02-22 19:19] digitaldan commented on #157
I am, i just reference the first global there, but i was referring to all of them

Good find, yep, this is what i am afraid of, i think we should remove to be safe, wdyt?

[2019-02-22 19:34] jsetton commented on #157
What are you afraid of? There should not be any concurrency issue here. The only issue is that the previous global variables content will be available when a new request is processed by the same execution context, but will be overwritten right away by the only exported function `handleRequest` from the `ohConnectorV3` module.

https://github.com/openhab/openhab-alexa/blob/71e08eba4033226c8068e1ac8

[2019-02-22 21:32] digitaldan commented on #157
I get its not a problem now, but I worry in the future that it could bite us with other developers contributing, or even me forgetting these are global.  During some refactor the logic changes and when a dev expect it to be null, its actually populated with the last request.

[2019-02-22 22:45] jsetton commented on #142
Based on the examples provided in the API documentation, here is my proposed sketch for these interfaces:

[Mode Controller](https://developer.amazon.com/docs/device-apis/alexa-modecontroller.html#example-discovery-response)
[code]

[Range Controller](https://developer.amazon.com/docs/device-apis/alexa-rangecontroller.html#example-discovery-response)
[code]

[Toggle Controller](https://developer.a

[2019-02-22 23:26] jsetton commented on #157
I am adding the changes for this one in my refactoring PR.

[2019-02-23 16:10] Flole998 commented on #123
I'm having another "Device doesnt respond" on a single light in the App right now, I can control it perfectly fine though (even with the App), just the status doesn't update. I'm not entirely sure where that might come from, especially since it's only one device.

[2019-02-23 17:05] digitaldan commented on #123
@FlorianSW can you try again and let me know the name of the item and time?  We had an issue with logging, i can see there is an error but its not printing.  We fixed this, but i had not deployed it until just now.

[2019-02-23 17:06] digitaldan commented on #123
@Flole998 i fat fingered your name in the previous post,I edited it, but not sure if you were notified of my comment.

[2019-02-23 17:11] Flole998 commented on #123
I'm following this post, so I am getting notifications whenever someone posts here :)

Right now it is working properly again, maybe you accidentally fixed this aswell ;)

[2019-02-23 17:28] digitaldan commented on #123
I did deploy an upgraded version of the state fix that @jsetton had enhanced to handle more cases, this may have fixed you issue.

[2019-02-23 17:46] digitaldan commented on #142
Thanks @jsetton I like it!  i think once you read the api docs it make sense, for users we will need to have lots of examples  and a tables of assetIds  in our usage doc to clearly explain.

[2019-02-23 18:00] digitaldan commented on #111
Thank @jsetton  for the feedback, going to work on this today.

[2019-02-23 18:03] jsetton commented on #111
At this point, I would say you should wait for my refactoring PR. Although you can start thinking about the logic 😄 but a lot of the enhancement I added will make this very easy to implement. I am aiming to get the PR out by the end of the day.

[2019-02-23 18:08] digitaldan commented on #111
Sounds good, I definitely have other things to work on.  If you already have this thought through or think it would be easier for you to incorporate , feel free to take it.

[2019-02-25 19:03] Flole998 commented on #123
I had an issue yesterday with opening a lock, I thought it might be temporary but when I just used it again I had the same problem: I ask alexa to unlock and after confirming my voice code she says that it's unlocking and then that something went wrong (the lock is unlocked though). Locking works fine, just unlocking doesn't. This used to work fine in the past.

[2019-02-25 19:29] digitaldan commented on #123
I will look, but in the future can you give me the time and item name?  Saves me having to search the cloudwatch logs which can be slow and painful.

[2019-02-25 19:32] Flole998 commented on #123
Time was about 1 minute before I posted, item name is Garage_Door_Right_Proxy

[2019-02-25 19:40] digitaldan commented on #123
Got it, thanks.  I think the issue is that we are reporting back that the lock is still "Locked" after sending the request, this is b/c we send the lock command and then immediately poll it for its updated state.  Most locks take a few seconds (or more) to update.  Before, we didn't poll the device, but assumed if it accepted the command it was successful.  The Alexa API allows some allowance to t

[2019-02-25 19:43] Flole998 commented on #123
As the itemname already suggest my switch is a proxy for a real garage door, the switch doesn't have autoupdate=false set so it should be changed by the command "immediately", maybe a short delay there would be good that at least instantly changing switches are handled properly for now.

[2019-02-25 20:13] jsetton commented on #123
Delayed response falls under the asynchronous deferred response support (#73) which is not something that can be easily implemented without potentially adding a binding on the OH side. You can read the conversation on my initial PR for this feature. So unfortunately for now, we expect the state to change right away.

Alternatively, you can use the [item sensor concept](https://github.com/openhab/o

[2019-02-25 20:21] Flole998 commented on #123
It does never immediately change, there's always a short delay there from openHAB getting the command until it is switched. Since I only have a normal switch (which does indeed change as soon as it gets the command) the skill seems to not even wait for openHAB to process the command (which will indeed take some time), a few milliseconds would be enough most likely. I would understand if you said t

[2019-02-25 20:37] digitaldan commented on #123
@Flole998 if its a proxy item, then I would suspect it would show the correct state when the command REST request returns and before we make a second one.  Let me try my lock and see what happens, i have not tried it since we update the code recently.

[2019-02-25 20:41] jsetton commented on #123
Unless I am missing something, if using `autoupdate=false`, doesn't it mean that the item **state** receiving the command will not update right away?

[2019-02-25 20:45] Flole998 commented on #123
Yes, but I am *not* using that ;)

[2019-02-25 20:49] digitaldan commented on #123
So i just tried a Z-wave lock (switch) and it works ok for me, I'm not sure why yours does not? Do you have a rule that is possibly taking a while?  From my events.log:
[code]

and the alexa response

[code]

[2019-02-25 21:03] Flole998 commented on #123
Sorry my mistake, the skill as actually slow enough, I just messed one of my proxy rules up and it caused the open of the sensor to update the item to on (aka locked), which was then requested by the Skill and of course was unexpected (as it should switch to unlocked/off). Sorry again.

[2019-02-25 21:14] digitaldan commented on #123
No worries!

[2019-02-28 20:52] dastrix80 opened #159 "[v3] Conversion from V2 skill?"
Hi All

There appears to be no documentation on how to do this.  I would assume that all is required is an update of the payload version from V2 to V3. If so, once done I cannot discover a V2 device based on a [ "Lighting" ] tag.

The item is 'Garage' and is a Switch

Thanks

[2019-02-28 20:55] dastrix80 commented on #159
CloudWatch says so:

2019-02-28T20:48:26.458Z 8e3a38be-804e-427c-a161-12b86c5c8448 TypeError: Cannot read property 'namespace' of undefined
at exports.handler (/var/task/index.js:21:25)

[2019-03-04 00:05] digitaldan commented on #159
Hi, i'm not sure what steps you are taking to move to v3?  Are you using the V3 branch ?  Master is still v2 while we beta test our v3 changes.  That error would indicate you are still using the v2 code.

V3 is still in very active development and is not ready for simple deployments.  Once we have finished, moving to v3 should be seamless and not require much info at all.

[2019-03-04 00:06] #157 closed

[2019-03-04 00:17] digitaldan opened #161 "[v3] Using item commandOptions and stateDescription"
The openHAB core (formally ESH) added commandOptions and stateDescription to the item description in January, see https://github.com/eclipse/smarthome/pull/5131.

This exposes the preset options for item commands/states that have existed for a while, but were not easily used by UI's using the rest interface, but are now.  For example, I have a String item which represents the current state of my l

[2019-03-04 00:26] jsetton commented on #161
I am already using stateDescription option for ModeController implementation 😄 I wasn't aware of commandDescriptions.

[2019-03-04 00:30] digitaldan commented on #161
Could be useful too for thermostat modes when nothing is passed by the user:
[code]

[2019-03-04 00:31] digitaldan commented on #161
Yes, my bad, state descriptions where of course there, this added only commandDescriptions.

[2019-03-04 00:36] jsetton commented on #161
I understand the difference between the two properties from the OH side but when will they be different? The only thing I can see is if states not defined use commands.

[2019-03-04 00:39] digitaldan commented on #161
Speaking of modeController,  i think i remember this allowed you to specify more then one name for the action?  There is a synonyms meta property like: `{ synonyms="Toilets,WC,Restroom" }` . This is being used by Habot atm, see  https://community.openhab.org/t/habot-walkthrough-2-n-semantic-tagging-item-resolving/55651 .  we might want to think about using it.

[2019-03-04 00:41] digitaldan commented on #161
I have not looked into it yet, but i would guess it can be defined differently by the thing, either in its thing.xml file or dynamically by the binding.

[2019-03-04 01:37] jsetton commented on #161
Based on my understanding of that PR, it seems that commandOptions is just an alternative to statesDescription which is design primarily for UI purpose. So I am not sure if there is a need to support it if we already have statesDescription.

[2019-03-04 04:16] dastrix80 commented on #159
Hi Dan, understood. Yes I am still using the V2 branch. I guess I need to redeploy to AWS as I'm using my own private cloud instance

Regards

[2019-03-04 04:49] jsetton commented on #161
I actually initially tried adding the support for thermostat but realized this is actually way harder to do then with ModeController as thermostat modes are pre-defined and cannot be remap on the Alexa side.

So between the different number/string item types and item state description options values and label names, it makes it hard to determine the proper mapping, unless we start cataloging the d

[2019-03-04 21:35] digitaldan commented on #123
All. I want to push the latest update to the service today.  One caveat, you will need to tell Alexa to "Discover Devices" after i do so.  She will say she cannot find any devices, but this will update the devices she does know about, which is needed due to some changes.   I'll post back here when i do.

[2019-03-04 21:44] jsetton commented on #161
One thing that came to mind. Is there a way to determine what binding 1.x or 2.x a specific item is using? For 2.x, I guess we could retrieve the channel metadata selector. So for thermostat mode, we could determine the custom binding maps that way.

[code]

[2019-03-05 10:16] dastrix80 commented on #159
Hi Dan

Ive cloned the v3 branch to my server and edited the .env and config files as per your v3 notes.

I receive this error on deploy:

root@netsecure:/var/www/openhab-alexa# sudo node_modules/node-lambda/bin/node-lambda deploy
Generating zip file
(node:5819) [DEP0022] DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.
/var/www/openhab-alexa/node_modules/node-lambda/lib/mai

[2019-03-05 10:38] dastrix80 commented on #159
Hi Dan

ive deployed the V3 skill and lambda. When I go to authorise the skill on my device, it diverts to myopenhab.org for authorisation instead of my OpenHab Cloud private server.

Here is the config.js

[code]

Any suggetions?

[2019-03-05 14:46] digitaldan commented on #159
I saw emails with new comments, but i don't see them here, i'm guessing you deleted?  Can this issue be closed?

[2019-03-05 16:42] digitaldan commented on #161
Yes, although mine are actually https://github.com/digitaldan/openhab2-addons/tree/venstar-jetty/addons/binding/org.openhab.binding.venstarthermostat  :-)

Not off the top of my head, would need to do a little research.

[2019-03-05 20:00] dastrix80 commented on #159
Hi Dan, yes I deployed it succesfully

[2019-03-05 20:00] #159 closed

[2019-03-06 00:08] dastrix80 commented on #123
Hi Gents

Ive deployed the V3 skill and updated the metadata for my Stereo item as per the V3 readme like so:

[code]

When I discover devices, Alexa finds no new devices. I would expect her to discover the group,
Stereo, right?

Thanks

[2019-03-06 00:11] dastrix80 commented on #123
Hi All

Ive deployed the V3 skill and am trying to use the new metadata as below, when I do a discover Alexa does not find any new devices

[code]

Thanks

[2019-03-06 00:14] Flole998 commented on #123
You should not have multiple powerstates on that item, especially if they don't reflect the power state. For multiple zones it might be better to have multiple groups.

Try adding items one by one and see if that helps.

[2019-03-06 00:15] dastrix80 commented on #123
Thanks will do. Are multiple InputController.inputs ok?

[2019-03-06 00:21] Flole998 commented on #123
There is a SceneController, you might want to use that one instead. Not entirely sure what "Zone_1_Surround" does but there's probably something more suitable aswell

[2019-03-06 00:30] dastrix80 commented on #123
Thanks, ill try that. Surrond is for the various Surround Sound modes.

Question, I have the V2 and V3 Lambda's deployed along with the skills. Currently I have pointed V3 to a different REST interface (an OH2 Dev machine). If i want to repoint this to my production machine, do I simply edit the config.js with the revised URL and redeploy the lambda or is there an easier way?

[2019-03-06 01:33] jsetton commented on #123
Correct although for the V3 version, it's not documented but you can set environment variables on your Lambda function to specify the server you would like to point to removing the need to redeploy if you keep switching back and forth.

Keep in mind that you would need to remove the config.js from your setup in order for these settings to take precedence and redeploy that function once.

https://g

[2019-03-06 01:42] dastrix80 commented on #123
Ok so having already deployed v3 with config.js id need to

1 - delete config.js
2 - edit rest.js with new server
3 - redeploy

So rest.js is oh2 rest side not lambda side hence not needing to redeploy in future?

[2019-03-06 01:46] Flole998 opened #163 "[v3] Allow usage without cloud"
I just had some thoughts about not requiring myOpenHAB anymore for the Alexa Skill if someone prefers that, but without self-hosting the skill: What about adding a database that contains a User-URL Mapping and if it's defined use that? Has someone else already thought about that? I think it would be great to allow usage of the skill without using any kind of cloud, especially if it's really as sim

[2019-03-06 01:47] jsetton commented on #123
@dastrix80 I linked these code lines just to show you the name of the environment variables. These need to be defined in the Lambda management console of your openHAB function.

The fact you are using the function to switch back forth from V2 and V3, I would stick to using config.js and redeploy the configuration change.

[2019-03-06 03:21] jsetton commented on #163
Based on my understanding, the linking process part of enabling the official Alexa skill requires to be pointing to the myopenHAB OAuth2 endpoint. This is what allows the skill to access your openHAB server, without actually storing your username and password, opposed to how it is done when self-hosting the skill where the authenticating is done at the Lambda function level.

Although, you could a

[2019-03-06 03:25] Flole998 commented on #163
Yes exactly that's also how I understand it. But if we store a User-URL-Username-Password combination in a database it could work (although plaintext passwords shouldn't be stored).

Of course you will always have the alexa cloud dependency, but if we can make the myOpenHAB dependency optional it would be great in my opinion.

[2019-03-06 03:59] jsetton opened #164 "Custom Intent Support"
The [Alexa.CustomIntent](https://developer.amazon.com/docs/device-apis/alexa-customintent.html) interface enables you to use the smart home skill discovery process to associate custom intents with device endpoints.

Currently, in preview mode.

[2019-03-06 04:45] dastrix80 commented on #123
So, ive made those changes and I've gone ahead and redeployed the v3 skill using this branch:

sudo git clone https://github.com/digitaldan/openhab-alexa.git

Im getting  this error

[code]

Which from searching appears Payload related, despite my skill being set to V3.

Any suggestions? This error occurs under discovery.

Cheers

[2019-03-06 04:52] jsetton commented on #123
You are cloning the master branch which is v2. Try this instead.

[code]

[2019-03-06 05:04] dastrix80 commented on #123
Thank you jsetton, thats helped but a new error: unauthorised.

I can only assume the config.js is wrong

[code]

Shoudl that baseURL be /rest/items?

[code]

[2019-03-06 05:09] dastrix80 commented on #123
That has done the trick and its discovered my stereo group! I guess ill go home and play with the metadata tags to see what functionality it provides.

Thanks for the fast responses guys! And great work Dan

[2019-03-06 08:36] dastrix80 commented on #123
Gents,

Am i missing a whole page or something in doco or am I just dumb?

How does one have the alexa in curly braces when you have the zwave channel? The item errors

[code]

[2019-03-06 09:15] jmccoy555 commented on #123
@dastrix80
`Dimmer KitchenDim1 "Kitchen Light"    { channel="zwave:device:a1562d1c:node3:switch_dimmer1", alexa="PowerController.powerState,BrightnessController.brightness}`

[2019-03-06 09:45] dastrix80 commented on #123
Thank you, its accepted the command. So i guess a discover devices should show it and then a 'Alexa, is the Kitchen Light ON' should return its state?

[2019-03-06 14:22] codeaholics commented on #123
I'm not sure if asking for the state works. It didn't with the original release. See
https://github.com/openhab/openhab-alexa/issues/123#issuecomment-462192064

[2019-03-06 15:12] jsetton commented on #95
One thing to note with these sensors is that even though there are now supported, they can't be used as trigger device in routines since there are defined as `proactivelyReported=false` and the current v3 implementation doesn't support that feature. So basically, there isn't much use for them at the moment.

[2019-03-06 19:08] dastrix80 commented on #123
Doesnt appear to. Also using the above fails for me

```Dimmer KitchenDim1 "Kitchen Light" { channel="zwave:device:a1562d1c:node3:switch_dimmer1", alexa="PowerController.powerState,BrightnessController.brightness}```

[2019-03-06 19:59] jsetton opened #165 "[V3] Equalizer Controller Support"
The [Alexa.EqualizerController](https://developer.amazon.com/docs/device-apis/alexa-equalizercontroller.html) interface provides directives that are used to set or adjust the equalizer bands and apply a sound mode to a smart entertainment device.

[2019-03-06 20:16] jsetton commented on #165
This is one is little tricky as there are different band properties part of one property. So we will need to introduce a concept of sub properties.

Here is my proposed sketch. The range configuration will be overlapping, due to interface definition, but we would use one of them assuming there are in sync.

[code]

[2019-03-06 20:50] digitaldan commented on #123
Alexa does not support asking for all states, only thermostats I think can be queried .

[2019-03-08 03:30] dastrix80 commented on #123
Fair enough. I added the above PowerController/BrightController to a dimmer item and then alexa fails to discover devices. I had to remove it. Is the syntax above correct for a dimmer item thats zwave?

[2019-03-10 20:15] jsetton commented on #161
So the support for stateDescription is included in the ModeController interface. As I mentioned previously, I don't believe trying to add support for pre-defined Alexa states capability interfaces is worth it since there isn't much of a standard naming convention between bindings for a given capability unless you have any idea on how to implement.

In terms of commandOptions, do we want to add it

[2019-03-10 22:13] digitaldan commented on #161
I don't either, the more i looked at them, the less it seemed to benefit this use case.

I think this is fine, users can always manually set what they need

I think it would nice to use them if present, but ignore them if the user specifies friendlyNames in the alexa conifg.

[2019-03-10 23:04] jsetton commented on #161
Ok I will add these to the next PR including the Equalizer Controller support 😄

The order for friendlyNames, depending on availability, would be (1) alexa meta config, (2) synonym meta property, (3) item label

[2019-03-15 19:06] jsetton opened #170 "[V3] Alexa Skills Kit CLI Deployment Support"
We should probably migrate the skill deployment to use the [ASK CLI](https://developer.amazon.com/docs/smapi/quick-start-alexa-skills-kit-command-line-interface.html). This will allow an all-in-one approach that will deploy the smart home skill along with its lambda function at the same time. Moreover, it makes it easier to deploy to various regions in one go and once we decide to implement Custom

[2019-03-15 23:51] #165 closed

[2019-03-15 23:51] #142 closed

[2019-03-15 23:51] #111 closed

[2019-03-15 23:52] digitaldan commented on #170
👍

[2019-03-16 20:35] digitaldan opened #171 "[v3] Allow String type and mapping on powerState"
So I have run into a few situations where i have a String item i wish to command with "Turn ItemName on / off" .  It would be very convenient  to be able to map ON and OFF to String items like `[ON="WatchTV", OFF="PowerOff"] ` and even be able to use the state sensor to report state back form another item (extra credit). This would also probably apply for toggleState. This of course could be done

[2019-03-16 20:52] digitaldan commented on #171
Actually after looking at the code, i'm not so sure if this actually confuses things more and rules are not a better way have handling this.

[2019-03-17 03:36] #171 closed

[2019-03-17 18:02] digitaldan commented on #123
All I am about to push out a new update, you will need to have alexa discover your devices again, she will say she can not find any, but this process will update the changed format we store in Alexa and all should work again.

[2019-03-17 18:06] digitaldan commented on #123
this is done, after you discover devices again, take a look at the [usage page](https://github.com/openhab/openhab-alexa/blob/v3/USAGE.md) for a lot of updated functionality .

[2019-03-17 19:39] thewilli opened #173 "[v3] Dimmer state is not properly restored when turned back on"
Consider the following Dimmer definition from the usage guide:

[code]

The following steps lead to an inconsistency. Best done with the Alexa App:

1. Set the brightness to a non-zero non-maximum value
2. Turn the light off
3. Turn the light back on
4. The brightness displayed in the app equals to the previous value, while the one in OH is always 100%

It would be great if the previous brightness

[2019-03-17 19:59] thewilli commented on #123
I don't want to create a dedicated issue for that, but the `USAGE.md` currently doesn't list any color bulb examples (RGB and/or CT). I'm pretty sure these are very common usage cases and there should definitly be such an example once the skill is becoming productive so the less-technical people can get started more easily.

Maybe just something like

[code]

[2019-03-17 20:24] digitaldan opened #174 "Usage examples"
We need to start collecting usage examples for the usage doc.  Let's add them to this issue. Please try and use generic names and labels. Lets also add the sample utterances that can be used on those items.

[2019-03-17 20:25] digitaldan commented on #123
Thanks WillI, thats a good example.  We definitely need to start building out a section on common item configuration examples along with sample utterances.  I'm going to open a ticket  on this, we can start adding them there.  See #174

[2019-03-17 20:43] digitaldan commented on #173
Hi Willi,  just want to make clear the scenerio you are describing.

You are doing this in the mobile/web app and not with voice control?

this is what I think we are sending...

Alexa sends a number (say 50) to "LightDimmer"

Alexa sends OFF to "LightDimmer"

Alexa send ON to "LightDimmer"

I would think this is up to openHAB to control, not our skill.  When the item receives the ON command, its

[2019-03-17 21:16] thewilli commented on #173
The strange thing is that it is not equally reproducible using voice control instead of the app 😕

The developer in me would agree with you at once. Still, there is the possible inconsistency where the Alexa app displays a value different from the OH one. The question may be if this was important enough to care about.

I'll try to bundle this for you.

[2019-03-17 22:20] digitaldan commented on #173
When you view a device in the Alexa app it sends a 'ReportState' message to the skill, we query the item and return back whatever openHAB says the item state is.  If the light state changed from OFF to ON,  somehow OH reported a % back.  I can't think of another explanation, but next time it happens let me know the times and names and maybe we can get to the bottom if it. If you have an item name

[2019-03-18 20:50] digitaldan commented on #174
as mentioned in https://github.com/openhab/openhab-alexa/issues/123#issuecomment-473709061

[code]

`"Alexa turn My Fake Light On"`
`"Alexa turn My Fake Light Green"`

[2019-03-19 02:03] jsetton commented on #173
To add to @digitaldan, it is important to note that the state in the Alexa app is polled from OH opposed of being proactively pushed by OH. So whenever the state changes in OH, the state in the Alexa app will not necessarily change right away especially if the app is already showing a specific item. In that event, the first state is polled and any subsequent state changes on the OH side wouldn't s

[2019-03-19 05:29] dastrix80 commented on #174
May you please add Lock support in your examples.

[2019-03-19 05:35] dastrix80 commented on #123
Hi All, i found my Zwave Yale lock just fine. Am I right in saying you cannot unlock via Alexa, but you can check the state and lock the door? It appears state is working as it shows my door is locked.

[2019-03-19 10:24] codeaholics commented on #123
Correct - otherwise a burglar would just yell "Alexa, unlock the front
door" through your letterbox!

On Tue, 19 Mar 2019 at 05:35, dastrix80 <notifications@github.com> wrote:

[2019-03-19 10:25] dastrix80 commented on #123
Yep hehe :) im interested to see more v3 examples. The lock is definitely useful

[2019-03-19 10:42] Flole998 commented on #123
Nope that's not correct, you need to enable it in the App and give it a voice code for unlocking.

[2019-03-19 14:59] digitaldan commented on #123
As @Flole998 mentioned,  in the Alexa mobile app, click on that device and enable lock support, it will prompt you to enter a voice password that you will need to say.   While not specific to our skill, this probably needs to be added to the documentation as Amazon does not make it very intuitive .

[2019-03-19 15:12] codeaholics commented on #123
Thanks for the clarification. It seems things have moved on since I last looked at lock support.

[2019-03-19 22:38] dastrix80 commented on #123
I never I did this but Alexa shows it as a lock correctly but no voice prompt.

[2019-03-23 15:23] jsetton commented on #174
@digitaldan I don't think this example is correct based on the utterances you listed. If I go by the OH items definition that @thewilli provided, this would define a dimmable light that has **white shade** color temperature capability. So the proper utterance would be:

_Alexa, turn My Fake Light On_
_Alexa, set My Fake Light to daylight_
_Alexa, make My Fake Light warmer_

In order to have color

[2019-03-23 15:25] digitaldan commented on #174
Good catch, thanks!

[2019-03-24 16:57] thewilli commented on #174
@jsetton yes, you're right. I should have made that clearer. The intension was to setup a bulb that explicitly only supports a limited variety of color temperatures, just like the Tradfri bulbs do.

[2019-04-01 18:19] jsetton commented on #73
@digitaldan So I created a [separate branch](https://github.com/jsetton/openhab-alexa/tree/v3-deferred) including the changes I had originally implemented for the deferred response support on top of the latest code refactoring framework.

I was wondering if you had any additional thoughts on how we could get this feature along with proactive reporting supported by the skill. I still believe that w

[2019-04-02 20:24] digitaldan commented on #73
Device tokens are valid for 30 mins?  So if the binding only requested a token when it expired, i think this would greatly minimize the number of requests.  Also if these requests are short lived (1000ms or less) than the pricing is very low .  That sounds awesome.  The binding would not be hard, I wonder how a user would configure it?  Would we match all alexa tags for reporting?  Let the user ch

[2019-04-02 22:04] jsetton commented on #73
It's valid 60 minutes. So we could limit the number of requests if the binding store the access token locally with its expiration time, or maybe only request a new one if the current one is failing.

I am not concerned about the compute time per request but more the number of them. Also the API gateway has its own resource [pricing](https://aws.amazon.com/api-gateway/pricing/) as well although 1 m

[2019-04-03 16:13] digitaldan commented on #73
I agree #1 sounds better, but this will require rewriting a ton of logic in our Java binding.  I wonder how long it would take for us to get that done?  I'm not opposed at all, but it think a proof of concept would be good to judge the level of effort required.  Unless you already have something, I can create a binding and borrow from a few other bindings i have authored (or co-authored) and get s

[2019-04-16 15:22] jsetton commented on #73
I meant to respond back earlier but I got sidetrack. That sounds like a good plan. 👍 I started to look into creating a binding based on that idea but the learning curve to just get the standard functionalities (item registry + rest interface) you mentioned above is pretty steep for me, at the moment, and would take me a bit of time to implement just to get to the interesting part 😄. If you provide

[2019-04-17 01:11] jlippold opened #176 "Determine calling echo"
I'm wondering if this project can determine which device heard the command and trigger different results.

For example, I have multiple TV's and I currently use [this emulator](https://github.com/armzilla/amazon-echo-ha-bridge) and name the devices "Bedroom TV, Livingroom TV, etc.." so the TV's are just hue light switches according to alexa. I'm hoping I can say "Turn on the TV" and have it turn o

[2019-04-17 20:02] Naruk-TUBK commented on #123
Is it possible to participate at the v3 beta test? I currently have a mid 2018 version of the skill up and running but for me it is not possible to upgrade to the newest version (Cannot figure out the error). Would be really cool if i could use your official service and give direct feedback.

[2019-04-17 20:10] digitaldan commented on #123
@Naruk-TUBK , see https://github.com/openhab/openhab-alexa/issues/123#issuecomment-462153382 , i just need some info from you.

[2019-04-18 09:02] arnavchaudhary opened #177 "Using Oauth"
Hey,

Just got recently acquainted with Openhab and wanted to contribute. and since there were problems in myopenhab loading, I have set up my own openhab server and Alexa skill for trying things out before committing/contributing.

Wanted to know how I can also replicate the Oauth setup that Open Hab has.
When i add the creds in the config file, they are working fine but i wanted to know if it is

[2019-04-18 11:09] #177 closed

[2019-04-18 11:10] arnavchaudhary commented on #177
got it working.Pleae ignore

[2019-04-18 12:22] oeiber opened #178 "[v3] door opener (Alexa.LockController)"
hi,
i‘d like to use alexa.lockcontroller for my door opener because of the ability of entering a pin. however, relais closed is state ON and relais open is switch state OFF. For this reason i‘ve added [LOCKED=„OFF“, UNLOCKED=„ON] to the item definition. After that the correct state will be shown in alexa app. But everytime I say „alexa, unlock front door“ an OFF command will be sent to the switch.

[2019-04-27 23:06] jsetton commented on #178
@oeiber it should work as long as this is a Switch item. It seems some extra commas were added in your description above. Would you be able to provide the exact item definition?

[2019-04-27 23:12] jsetton opened #179 "[v3] SecurityPanelController Arm Instant Not Supported"
Based on [this](https://forums.developer.amazon.com/questions/201579/securitypanelcontroller-arm-instant-not-supported.html) Amazon developer forum thread, the arm instant feature was never implemented on the Alexa side and has now been removed from their API documentation. We should remove the support of this feature from the original security panel controller support #111.

[2019-04-27 23:26] jsetton commented on #176
@jlippold you can actually accomplish this by using the v3 skill implementation and the [Alexa-enabled group](https://developer.amazon.com/blogs/alexa/post/0a55ae8a-1f39-411f-a3ca-6a19be80b2f3/now-available-routines-alexa-enabled-groups-and-smart-home-device-state-in-the-amazon-alexa-app) feature.

Basically, you define a TV category endpoint on the OH side and than attached the Living Room TV dev

[2019-04-28 12:01] jlippold commented on #176
Man, so you're saying I can just install openhab and set this all up myself huh? I think it's time for me to try openhab and stop fiddling with my own implementations

[2019-04-28 14:49] jsetton commented on #176
Yes but the v3 skill implementation is currently in beta testing. So you can't just use the current official Alexa skill. You can either request to be part of it (#123) or setup your own skill based on the v3 branch.

I would strongly suggest you go over the [usage documentation](https://github.com/openhab/openhab-alexa/blob/v3/USAGE.md) so you can get a sense of how to setup your OH items.

[2019-04-29 08:42] oeiber commented on #178
@jsetton of course, here it is ;-)
`Switch	FrontDoor "FrontDoor"	<frontdoor>	{expire="1s,state=OFF", alexa="LockController.lockState" [LOCKED="OFF", UNLOCKED="ON"]}`

Just an additional question: Everytime the door gets unlocked using Alexa voice control, it will check if the unlock was successful or not. The only problem is, I use expire, because the switch for my door opener should work like a "

[2019-04-29 10:55] jsetton commented on #178
@oeiber So I made a mistake in my previous statement. For LockController, the command is actually [hard-coded](https://github.com/openhab/openhab-alexa/blob/v3/lambda/smarthome/alexa/v3/lockController.js#L37) to `LOCKED=ON` and `UNLOCKED=OFF`. The metadata parameter state mapping is only used for the state response.

So looking into this closer, we should update this interface to account for the m

[2019-05-05 21:28] jsetton commented on #178
@oeiber actually, looking into this more in details, the reason why the command for LockController is hard-coded to `LOCKED=ON` and `UNLOCKED=OFF`, is that all OH bindings supporting locks are using that mapping. So not sure if having this configurable makes sense since for custom configuration like yours, it can be inverted on the OH side.

[2019-05-07 12:23] dastrix80 commented on #174
Hi Guys

Im still using V2 tags, Lighting specifically. Recently nothing has worked, discoveries failing etc. Should I be removing all V2 tags and going over to V3? Im confused as to why its suddenly broken.

Cheers

[2019-05-07 16:39] jsetton commented on #174
@dastrix80 it should work with V2 tags. You should at least see your Alexa-enabled devices listed under your Alexa account. If this is related to beta testing, I would recommend posting in the relevant thread #123 with a sample of the items not working along with the utterance you may have used and time you tried. I am not sure which v3 version is currently rolled out.

[2019-05-07 20:46] dastrix80 commented on #123
Hi Guys, im using V3 with V2 tags for some proxy items and discovery is failing.

Switch Motion_PartyMode                            "[MAP(motion.map):%s] Proxy to Disable/Enable Motion Sensing for all Motion Sensors" (gMotionSensors) [ "Lighting" ]

Switch gAlarm                                      "[MAP(alarm.map):%s] Proxy for switching on/off the Alarm" [ "Lighting" ]

I see nothing obvious w

[2019-05-07 21:07] jsetton commented on #123
@dastrix80 the item label on your items you listed is incorrectly formatted. The mapping definition should be at the end. Under this format, the item label is basically empty which means the relevant items will be rejected during the Alexa discovery.

[code]

[2019-05-07 21:18] dastrix80 commented on #123
Can you provide an example?? or link me to some doco with examples?

[2019-05-07 21:23] dastrix80 commented on #123
Thank you! ill give that a go

[2019-05-07 21:29] jsetton commented on #123
@codeaholics thanks for providing all the details.

Since you mentioned you are calling a routine, is the delay still present for each device part of the routine after the first action is triggered on the OH side?

Do you get the same delay when interacting with a device directly or when you trigger the same routine twice in a row?

[2019-05-07 22:06] codeaholics commented on #123
Once the cloud connector logs the incoming POST for the first device, it normally logs the ones for the other posts within a second - still slower than I’d expect. So this could be a delay with Alexa, or it could be MyOpenHAB holding a queue internally that only gets processed periodically. I don’t know the architecture details to offer more opinion.

I would imagine it would be possible to add lo

[2019-05-07 22:09] codeaholics commented on #123
To answer your other questions:

If I interact with the device in, say, Paper UI then it’s near instantaneous because it’s Z-Wave, so all processed locally.

If you’re asking about interactions via Alexa, which I assume you are, I’d need to check tomorrow. Ditto the question about doing the routine twice in quick succession.

[2019-05-07 22:35] jsetton commented on #123
That's what I was trying to determine. One thing for sure is that, especially with the beta skill where I will assume there isn't a lot of requests compared to the official one, the Lambda function has to be cold started if no request came in for some time. This certainly adds some delay but 5 seconds seem a bit excessive to me based on my own usage.

Your request were logged on the Lambda side bu

[2019-05-08 15:46] jsetton commented on #178
@oeiber I am not 100% sure to follow you at this point. Are you using a specific binding to interact with your door opener? Which GUI are referring to?

[2019-05-08 16:00] #179 closed

[2019-05-08 16:14] digitaldan commented on #178
@oeiber just for context, is this lock more like a momentary unlock state, like you would find in apartment buildings with a common front door?  In the US we sometimes say "can you buzz me in", ie press the buzzer to unlock the gate or door.

In the gui you can define a button with multiple states like:
`Switch door label='Front Door' mappings=[ON="Off", OFF="On"]`
or a single button (which sounds

[2019-05-08 18:17] digitaldan commented on #178
this is really strange, our conversation timestamps are all messed up for me.  Apparently i have a new github feature where i can see into the future!

![image](https://user-images.githubusercontent.com/1903737/57397945-af2a8f80-7182-11e9-92a1-4407f1d25b46.png)

[2019-05-08 18:19] jsetton commented on #178
I have the same feature 😄 I think it's @oeiber last post that had incorrect timezone somehow.

[2019-05-11 00:26] digitaldan commented on #123
All we exceeded the 90 day period for beta testing.  I opened it back up, but i will need everyone's email address.  You should have received an email from amazon about this, please send me a email to the address in the amazon message and i will add you back.

This is also a wakeup call that we need to get the skill published!

[2019-05-11 00:31] jsetton commented on #170
@digitaldan I didn't want to respond on the main beta thread. Have you try to use the ASK CLI beta test subcommands? Maybe the [list beta testers](https://developer.amazon.com/docs/smapi/ask-cli-command-reference.html#list-beta-testers-subcommand) subcommand might still return a list of users.

[2019-05-11 00:59] digitaldan commented on #170
It looks like when the beta is over, it completely wipes out the previous beta test.  I did not try the skills api (have not hooked it up to beta) , but in the web UI, everything was gone.

[2019-05-11 01:24] jsetton commented on #170
You don't need to hook it up. The api subcommands I mentioned above aren't related to the skill deployment. You just need to specify the skill id when calling the command. It is worth a shot but if you don't see in the web UI, the underlying data is probably gone as well.

[2019-05-11 12:23] Flole998 commented on #123
I haven't had any issues recently and as we maintain compatibility to the old version the new skill could be published even though the documentation might need some more improvements. Maybe instead of starting a new Beta it would be better to directly rollout the new version.

[2019-05-11 15:27] digitaldan commented on #123
I agree its very nearly ready to publish, but the submission process for a smart home skill can take weeks, so i'll enable the beta in the mean time.

[2019-05-11 15:37] digitaldan commented on #73
@jsetton I would like to release our current v3 skill while we work on this feature.  My one concern however is how we would support turning this feature on after we initially deploy v3.  If we enable it later, i'm afraid users may need to disable and enable the app, or at least reauthorize it so we get the accept grant for those existing users.  The migration docs say this:

``` Important: When a

[2019-05-11 15:51] jsetton commented on #73
Based on what you pasted from the migration docs, we should be fine actually. The skill currently doesn't have the permission to send Alexa events enabled. So if I understand correctly, whenever we enable that feature and it is certified/deployed, the skill would receive the backfill requests at that time. Also, you can submit a [request](https://developer.amazon.com/docs/smarthome/authenticate-a-

[2019-05-11 16:29] digitaldan commented on #73
My concern is that we start down this path and delay v3 too long.  I feel what we have now would be awesome for our community and people will really appreciate the new features.  If we need to support this version longer term while both are available,  I think that is fine.  I'm also ok setting a deadline for retirement after some reasonable amount of time.

Also I just got a skeleton binding work

[2019-05-11 16:38] jsetton commented on #73
I totally agree. I was just providing some potential future decisions that we would need to make once we release current v3 while keeping in mind the main constraint in term of the amount of AWS ressources usage.

👍

[2019-05-24 16:39] digitaldan commented on #123
Sorry I have been traveling a bunch and just got back into town, and coming back to our project.  I think its time to move this into production!

@jsetton I want to merge our v3 branch into master and prepare for a release.  Are there any outstanding issues that need to be taken care of ?  I can't remember since the last time we chatted.

[2019-05-24 16:42] jsetton commented on #123
@digitaldan there is actually one issue #181 that @fmeies just opened and I am currently looking into it. Other than that, I think we should be good to go on the production release.

[2019-05-24 16:44] digitaldan commented on #123
Awesome, I will wait for that to be resolved and then merge the v3 code into master.  I'll start working on the release mechanics today and this weekend.

[2019-05-25 15:30] #170 closed

[2019-05-25 15:32] jsetton commented on #161
@digitaldan I believe this issue can be closed unless you think otherwise.

[2019-05-28 15:37] jsetton opened #195 "[v3] Skill Manifest New Features Description"
Do we want to use the [updatesDescription](https://developer.amazon.com/docs/smapi/skill-manifest.html#locales) skill manifest locales property to advertise the new features added in v3?

[2019-05-30 16:33] viseatconcierge commented on #112
Where is the .env file typically located?

[2019-05-30 16:38] jsetton commented on #112
@viseatconcierge the .env is no longer used. Please refer to the latest deployment instructions.

https://github.com/openhab/openhab-alexa#general-deployment-instructions

[2019-05-30 16:42] viseatconcierge commented on #112
What is a better way to change the runtime to nodejs6.10

[2019-05-30 16:56] jsetton commented on #112
The current version of the skill requires node.js 8.10. On top of this, AWS Lambda no longer supports nodejs 6.10 functions. Anyway, the current deployment instructions should remove the necessity to fiddle with nodejs versions.

[2019-05-30 20:08] RobertHerter opened #198 "[V3] Rollershutter ON/OFF not converted to 100/0"
Alexa send ON OFF to rollershutter Items wich is not working. Should be converted to 100/0 %

[2019-05-30 21:10] fmeies commented on #198
I can confirm this. Unfortunately, the OH rollershutter item only supports UpDown, StopMove, Percent but not OnOff. A conversion from OnOff in the alexa skill seems to be the wrong place for fixing this although I have to admid that I did exactly this in my running skill instance as a workaround.

[2019-05-30 22:48] jsetton commented on #198
The problem here is that there are no Alexa-specific controllers for shades/binds as of yet. Comparing to the [v2 skill](https://github.com/openhab/openhab-alexa/blob/809cc3086511d1e580d55bdd8716f3d422968026/oh2.js#L685), the PowerController interface shouldn't have been associated to rollershutter items when using the `Switchable` metadata label.

Updating the PowerController interface to send so

[2019-05-31 08:13] scott-vincent commented on #123
Hi Dan,

Please could you add me back into the Beta. I've been on holiday for the
last 3 weeks and none of my Alexa devices are working anymore. I assume
it's because you said the 90 day beta was exceeded. I know you're
publishing v3 very soon but I know these things generally take longer than
you expect.

Email address for OpenHab Cloud is scottvincent@yahoo.com and my Amazon one
is scottvincent7

[2019-06-06 14:42] #198 closed

[2019-06-06 15:11] jsetton commented on #195
@digitaldan not sure if you saw this one. I wanted to know if you want to includes this one. It would be a good way to advertise the new v3 skill.

[2019-06-07 03:36] jsetton commented on #176
@jlippold do you still need this issue to be opened?

[2019-06-07 03:40] jsetton commented on #178
@oeiber did the suggestion that @digitaldan provided above help with resolving your issue?

[2019-06-07 23:39] jlippold commented on #176
Nope, you guys explained it well, thanks

[2019-06-07 23:39] #176 closed

[2019-06-07 23:51] jsetton commented on #173
@thewilli have you experienced any more state inconsistency since then?

[2019-06-08 00:01] jsetton commented on #163
So this is technically not possible, a skill can only point to a pre-configured OAuth2 endpoint. There is no options for users to change this configuration during the skill account linking process.

The only recommended solution here would be use your private stack including setting up your own cloud connector instance and your own Alexa skill.

[2019-06-08 00:01] #163 closed

[2019-06-08 00:42] jsetton commented on #125
@Flole998 as I mentioned in #198,  there are no Alexa-specific controllers for roller shutters as of yet. I believe that adding support for these edge cases to accommodate the lack of support on the Alexa side is not the way to go.

For your example, you can set your garage door device to use the "Switchable" metadata label and set Alexa routines to use open/close utterances to control that device

[2019-06-08 00:42] #125 closed

[2019-06-08 01:00] #161 closed

[2019-06-10 07:19] Flole998 commented on #163
This would be possible, I have described a way to do it above. While this would still require the cloud to be there, it doesn't need to be used anymore.

[2019-06-14 17:10] scott-vincent commented on #123
Any news when v3 might go live. I'm hoping it's soon because my v3 beta access seems to be broken as my v3 items no longer work. My guess is I've reverted back to the live version somehow. Thanks

[2019-06-16 08:37] scott-vincent commented on #123
Does anyone know how I switch back to the beta skill in the Alexa app. I'm pretty sure I'm just picking up the live version of the skill atm. I know it's linked to Gmail address so not sure why I can't get beta anymore.

[2019-06-16 14:30] nougad opened #210 "[V3] Hue Color Temperature in Group causes invalid status"
**tl;dr: I think the skill should not forward `NULL` state of `ColorTemperatureController.colorTemperatureInKelvin` when used in a group since it causes bugs with Hue**

I defined a Group with Color and ColorTemperature for a hue bulb as described here: https://github.com/openhab/openhab-alexa/issues/174#issuecomment-475878390

[code]

But whenever I update the color via Alexa, OpenHab or hue, Ale

[2019-06-16 15:27] jsetton commented on #210
@nougad thanks for the detailed information.

I just run a quick test. I assume the issue you are seeing is from the Alexa app standpoint which is trying and failing to show the proper current state. Voice commands (set/adjust color and temperature) are working fine from my testing when the temperature has a `NULL` state.

So, the [Alexa skill](https://github.com/openhab/openhab-alexa/blob/master/

[2019-06-16 18:46] nougad commented on #210
yes, that's correct. I'm talking about app-state.

I suspect this is the causing line: https://github.com/openhab/openhab2-addons/blob/53342ee89be902892a826696a72e9a1620c551bd/bundles/org.openhab.binding.hue/src/main/java/org/openhab/binding/hue/internal/handler/HueLightHandler.java#L472 - No idea if that's on purpose. The hue internal API (unrelated to OH) defines a operating state:

Since hue it

[2019-06-18 15:54] jsetton commented on #210
Thanks for confirming. I did some digging and basically the Alexa API expects either the [color](https://developer.amazon.com/docs/device-apis/alexa-colorcontroller.html#properties) or [temperature](https://developer.amazon.com/docs/device-apis/alexa-colortemperaturecontroller.html#properties) properties to be reported depending on the color mode. Currently the skill is reporting both which is act

[2019-06-19 15:25] nougad commented on #210
Thanks for looking into this! And thanks a lot for the change!!

Hue has two modes. One for color and one for temperature. Only one mode can be activated at the same time.

Here is the raw output from hue API:

# lamp off

## hue api

[code]

# lamp on - color mode

## openhab logs

[code]

## hue api

[code]

# lamp on - temperature mode

## openhab logs

[code]

## hue api

[code]

# lamp off

#

[2019-06-19 16:38] jsetton commented on #210
Thanks for the detailed information. These values are in line to what I expected. The change I submitted will cover the issue you reported.

[2019-06-24 22:25] stefan0001 opened #215 "[v3] Devices not found?"
Sorry for this question, but is v3 now deployed in production?
When I run a discovery scan no devices are found.
I also deployed the old v3 skill + lambda by my own and connected it to my alexa -> and with that the devices are found. So I thought v3 is in production because it was merged to master.

[2019-06-25 13:38] DerEros commented on #123
Any news on the release? It's been a month since the last lifesign. I've now set up v2 skill, but I'd love to use the new features. If v3 needs more testing, I'd sign up for beta as well.

[2019-06-25 13:41] DerEros commented on #215
Also, documentation on the website now explains v3 metadata. But it looks like v3 is not in production yet. See issue https://github.com/openhab/openhab-alexa/issues/123.

[2019-06-26 18:23] CyberLine opened #216 "[v3] rollershutter not found"
I'am using this skill with my own cloud. Every single item with tags is found by alexa except my rollershutters. Why?

![image](https://user-images.githubusercontent.com/195617/60204875-17772280-9850-11e9-8abe-006d24ee807c.png)

[2019-06-26 18:39] jsetton commented on #216
I did a quick test using the below item definition and it is working fine. Are you running your own skill? Metadata v3 support has not been deployed to the official skill as of yet.

[code]

[2019-06-26 19:07] CyberLine commented on #216
Yeah, own skill. For now i changed it to: `alexa="PercentageController.percentage" [category="SWITCH"]` and then they are both found

[2019-06-26 19:10] jsetton commented on #216
Are you using the latest master version?

[2019-06-26 19:14] CyberLine commented on #216
Yes.

Jeremy <notifications@github.com> schrieb am Mi., 26. Juni 2019, 21:10:

[2019-06-26 19:19] jsetton commented on #216
Could you provide the exact rollershutter item definition you used? Would you be able to see if there are any errors in your [Lambda function logs](https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logStream:group=/aws/lambda/alexa-openhab)? (Link assuming you deployed in us-east-1 region)

[2019-06-27 07:14] CyberLine commented on #216
Discovery log from CloudWatch (for the single item):

`{
                    "endpointId": "Rolllade_Wohnzimmer",
                    "manufacturerName": "openHAB",
                    "friendlyName": "Rolllade Wohnzimmer",
                    "description": "Rollershutter Rolllade_Wohnzimmer via openHAB",
                    "displayCategories": [
                        "OTHER"

[2019-06-27 13:23] jsetton commented on #216
Thanks for the information. So the item is discovered by the skill per your CloudWatch logs. Are you seeing that item listed under your [Alexa account](https://alexa.amazon.com/spa/index.html#appliances)?

[2019-06-27 13:33] jsetton commented on #216
Actually, I think I know what is the issue. The RangeController interface is currently only [supported](https://developer.amazon.com/docs/device-apis/list-of-interfaces.html) in the US.  I assume your Amazon account is located in another country.

[2019-06-27 15:40] jsetton commented on #216
I just updated the [usage documentation](https://github.com/openhab/openhab-alexa/blob/master/USAGE.md#regional-availability). Hopefully that answers your question.

In terms of workaround, there is much that can be done other than to relocate or create a new account on the Amazon US website. Doing so would prevent you from accessing other skills that are only available in your country.